In [1]:
import numpy as np
import pandas as pd
import os
import sys
import warnings
warnings.filterwarnings("ignore")
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

os.getcwd()
os.chdir('../..')
os.getcwd()

'C:\\Users\\p.schambach\\Desktop\\DSR\\drone_steering'

In [2]:
from app_local.module import DataEnsembler, GestureTransformer

de = DataEnsembler(120)
de.investigate_available_datafiles(data_dir='data/gesture/',is_frame_based=True)
de.load_data()
de.assemble_data()
de.display_information()

i: 0 	shape X: (603, 18, 16) 	shape y: (603,) 	count: 49
i: 1 	shape X: (519, 18, 16) 	shape y: (519,) 	count: 37
i: 2 	shape X: (498, 18, 16) 	shape y: (498,) 	count: 59
i: 3 	shape X: (650, 18, 16) 	shape y: (650,) 	count: 138
i: 4 	shape X: (508, 18, 16) 	shape y: (508,) 	count: 95
i: 5 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 90
i: 6 	shape X: (601, 18, 16) 	shape y: (601,) 	count: 107
i: 7 	shape X: (440, 18, 16) 	shape y: (440,) 	count: 83
i: 8 	shape X: (490, 18, 16) 	shape y: (490,) 	count: 70
i: 9 	shape X: (476, 18, 16) 	shape y: (476,) 	count: 74
i: 10 	shape X: (492, 18, 16) 	shape y: (492,) 	count: 85
i: 11 	shape X: (436, 18, 16) 	shape y: (436,) 	count: 59
i: 12 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 86
i: 13 	shape X: (551, 18, 16) 	shape y: (551,) 	count: 71
i: 14 	shape X: (550, 18, 16) 	shape y: (550,) 	count: 58
i: 15 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 55
i: 16 	shape X: (541, 18, 16) 	shape y: (541,) 	count: 52
i: 17 	shape X: (535, 18, 16) 	shape y: (535,) 	count: 69
i: 18 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 60
i: 19 	shape X: (616, 18, 16) 	shape y: (616,) 	count: 72
i: 20 	shape X: (621, 18, 16) 	shape y: (621,) 	count: 189
i: 21 	shape X: (590, 18, 16) 	shape y: (590,) 	count: 107
i: 22 	shape X: (460, 18, 16) 	shape y: (460,) 	count: 0
i: 23 	shape X: (514, 18, 16) 	shape y: (514,) 	count: 64
i: 24 	shape X: (923, 18, 16) 	shape y: (923,) 	count: 118
i: 25 	shape X: (545, 18, 16) 	shape y: (545,) 	count: 47
i: 26 	shape X: (547, 18, 16) 	shape y: (547,) 	count: 64
i: 27 	shape X: (505, 18, 16) 	shape y: (505,) 	count: 59
i: 28 	shape X: (469, 18, 16) 	shape y: (469,) 	count: 77
i: 29 	shape X: (524, 18, 16) 	shape y: (524,) 	count: 89
i: 30 	shape X: (569, 18, 16) 	shape y: (569,) 	count: 97
i: 31 	shape X: (488, 18, 16) 	shape y: (488,) 	count: 57
i: 32 	shape X: (481, 18, 16) 	shape y: (481,) 	count: 74
i: 33 	shape X: (416, 18, 16) 	shape y: (416,) 	count: 59
-----------------------------------------------------------------------------
shape final X: (18188, 18, 16)
number of labeled samples: 2570
Label 0: 15618 	85.87% of total
Label 1: 453 	17.63% of labeled
Label 2: 368 	14.32% of labeled
Label 3: 575 	22.37% of labeled
Label 4: 365 	14.2% of labeled
Label 5: 352 	13.7% of labeled
Label 6: 457 	17.78% of labeled

In [3]:
from app_local.module import DataResampler
dr = DataResampler()

In [4]:
dr.fit(de.X, de.y)
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    15618    85.87       15618       85.87
1      453     2.49         453        2.49
2      368     2.02         368        2.02
3      575     3.16         575        3.16
4      365     2.01         365        2.01
5      352     1.94         352        1.94
6      457     2.51         457        2.51

In [5]:
dr.restrict_zero_labels(500)
dr.display_information()

-------------------------------------
Current number of zero-labels: 15618
New number of zero-labels: 500

  abs_orig pct_orig abs_current pct_current
0    15618    85.87         500       16.29
1      453     2.49         453       14.76
2      368     2.02         368       11.99
3      575     3.16         575       18.73
4      365     2.01         365       11.89
5      352     1.94         352       11.47
6      457     2.51         457       14.89

In [6]:
dr.upsample()
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    15618    85.87       15618       14.29
1      453     2.49       15618       14.29
2      368     2.02       15618       14.29
3      575     3.16       15618       14.29
4      365     2.01       15618       14.29
5      352     1.94       15618       14.29
6      457     2.51       15618       14.29

In [7]:
print(dr.X.shape, dr.y.shape, dr.orig_X.shape, dr.orig_y.shape)

(109326, 18, 16) (109326,) (18188, 18, 16) (18188,)

In [8]:
dr.upsample(200)
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    15618    85.87         200       14.29
1      453     2.49         200       14.29
2      368     2.02         200       14.29
3      575     3.16         200       14.29
4      365     2.01         200       14.29
5      352     1.94         200       14.29
6      457     2.51         200       14.29

In [10]:
dr.upsample(10000, exceptions=[0])
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    15618    85.87       15618       20.65
1      453     2.49       10000       13.22
2      368     2.02       10000       13.22
3      575     3.16       10000       13.22
4      365     2.01       10000       13.22
5      352     1.94       10000       13.22
6      457     2.51       10000       13.22