In [1]:
import numpy as np
import pandas as pd
import os
import sys
import warnings
warnings.filterwarnings("ignore")
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import os
cwd = os.getcwd()

counter = 0
print(counter, cwd)
while not cwd.endswith("drone_steering") and counter < 10:
    os.chdir('..')
    cwd = os.getcwd()
    counter = counter + 1
    print(counter, cwd)

0 C:\Users\p.schambach\Desktop\DSR\drone_steering\models\playground
1 C:\Users\p.schambach\Desktop\DSR\drone_steering\models
2 C:\Users\p.schambach\Desktop\DSR\drone_steering

In [2]:
from app_local.module import DataEnsembler, GestureTransformer

de = DataEnsembler(120)
de.investigate_available_datafiles(data_dir='data/gesture/',is_frame_based=True)
de.load_data()
de.assemble_data(tolerance_range=2)
de.display_information()

i: 0 	shape X: (603, 18, 16) 	shape y: (603,) 	count: 101
i: 1 	shape X: (519, 18, 16) 	shape y: (519,) 	count: 89
i: 2 	shape X: (498, 18, 16) 	shape y: (498,) 	count: 119
i: 3 	shape X: (650, 18, 16) 	shape y: (650,) 	count: 230
i: 4 	shape X: (508, 18, 16) 	shape y: (508,) 	count: 147
i: 5 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 146
i: 6 	shape X: (601, 18, 16) 	shape y: (601,) 	count: 159
i: 7 	shape X: (440, 18, 16) 	shape y: (440,) 	count: 127
i: 8 	shape X: (490, 18, 16) 	shape y: (490,) 	count: 110
i: 9 	shape X: (476, 18, 16) 	shape y: (476,) 	count: 118
i: 10 	shape X: (492, 18, 16) 	shape y: (492,) 	count: 121
i: 11 	shape X: (436, 18, 16) 	shape y: (436,) 	count: 87
i: 12 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 126
i: 13 	shape X: (551, 18, 16) 	shape y: (551,) 	count: 127
i: 14 	shape X: (550, 18, 16) 	shape y: (550,) 	count: 114
i: 15 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 115
i: 16 	shape X: (541, 18, 16) 	shape y: (541,) 	count: 92
i: 17 	shape X: (535, 18, 16) 	shape y: (535,) 	count: 121
i: 18 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 108
i: 19 	shape X: (482, 18, 16) 	shape y: (482,) 	count: 205
i: 20 	shape X: (616, 18, 16) 	shape y: (616,) 	count: 136
i: 21 	shape X: (621, 18, 16) 	shape y: (621,) 	count: 269
i: 22 	shape X: (470, 18, 16) 	shape y: (470,) 	count: 187
i: 23 	shape X: (590, 18, 16) 	shape y: (590,) 	count: 171
i: 24 	shape X: (460, 18, 16) 	shape y: (460,) 	count: 0
i: 25 	shape X: (419, 18, 16) 	shape y: (419,) 	count: 0
i: 26 	shape X: (514, 18, 16) 	shape y: (514,) 	count: 120
i: 27 	shape X: (923, 18, 16) 	shape y: (923,) 	count: 214
i: 28 	shape X: (545, 18, 16) 	shape y: (545,) 	count: 91
i: 29 	shape X: (547, 18, 16) 	shape y: (547,) 	count: 124
i: 30 	shape X: (505, 18, 16) 	shape y: (505,) 	count: 111
i: 31 	shape X: (469, 18, 16) 	shape y: (469,) 	count: 121
i: 32 	shape X: (524, 18, 16) 	shape y: (524,) 	count: 129
i: 33 	shape X: (569, 18, 16) 	shape y: (569,) 	count: 157
i: 34 	shape X: (488, 18, 16) 	shape y: (488,) 	count: 89
i: 35 	shape X: (481, 18, 16) 	shape y: (481,) 	count: 106
i: 36 	shape X: (416, 18, 16) 	shape y: (416,) 	count: 99
-----------------------------------------------------------------------------
shape final X: (19559, 18, 16)
number of labeled samples: 4686
Label 0: 14873 	76.04% of total
Label 1: 701 	14.96% of labeled
Label 2: 763 	16.28% of labeled
Label 3: 991 	21.15% of labeled
Label 4: 882 	18.82% of labeled
Label 5: 660 	14.08% of labeled
Label 6: 689 	14.7% of labeled

In [3]:
from app_local.module import DataResampler

In [15]:
a = {1: 2,4: 4}
dr = DataResampler()
dr.fit(de.X,de.y)
dr.upsample(a)
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    14873    76.04           0           0
1      701     3.58           2       33.33
2      763      3.9           0           0
3      991     5.07           0           0
4      882     4.51           4       66.67
5      660     3.37           0           0
6      689     3.52           0           0

In [5]:
dr = DataResampler()

In [6]:
dr.fit(de.X, de.y)
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    14873    76.04       14873       76.04
1      701     3.58         701        3.58
2      763      3.9         763         3.9
3      991     5.07         991        5.07
4      882     4.51         882        4.51
5      660     3.37         660        3.37
6      689     3.52         689        3.52

In [7]:
crits = ["abs_diff_lowest","abs_diff_highest","variances_lowest","variances_highest"]

for crit in crits:
    dr.restrict_zero_labels(n=2000,criterion=crit)
    print(dr.display_information())

-------------------------------------
Current number of zero-labels: 14873
New number of zero-labels (selected with criterion="abs_diff_lowest"): 2000
  abs_orig pct_orig abs_current pct_current
0    14873    76.04        2000       29.91
1      701     3.58         701       10.48
2      763      3.9         763       11.41
3      991     5.07         991       14.82
4      882     4.51         882       13.19
5      660     3.37         660        9.87
6      689     3.52         689       10.31
-------------------------------------
Current number of zero-labels: 14873
New number of zero-labels (selected with criterion="abs_diff_highest"): 2000
  abs_orig pct_orig abs_current pct_current
0    14873    76.04        2000       29.91
1      701     3.58         701       10.48
2      763      3.9         763       11.41
3      991     5.07         991       14.82
4      882     4.51         882       13.19
5      660     3.37         660        9.87
6      689     3.52         689       10.31
-------------------------------------
Current number of zero-labels: 14873
New number of zero-labels (selected with criterion="variances_lowest"): 2000
  abs_orig pct_orig abs_current pct_current
0    14873    76.04        2000       29.91
1      701     3.58         701       10.48
2      763      3.9         763       11.41
3      991     5.07         991       14.82
4      882     4.51         882       13.19
5      660     3.37         660        9.87
6      689     3.52         689       10.31
-------------------------------------
Current number of zero-labels: 14873
New number of zero-labels (selected with criterion="variances_highest"): 2000
  abs_orig pct_orig abs_current pct_current
0    14873    76.04        2000       29.91
1      701     3.58         701       10.48
2      763      3.9         763       11.41
3      991     5.07         991       14.82
4      882     4.51         882       13.19
5      660     3.37         660        9.87
6      689     3.52         689       10.31

In [8]:
a,b = dr.train_test_split(0.2)

In [9]:
print(a.shape, b.shape)
dr.display_information()

(3912, 18, 16) (3912,)

  abs_orig pct_orig abs_current pct_current
0    14873    76.04       11898       76.04
1      701     3.58         561        3.59
2      763      3.9         610         3.9
3      991     5.07         793        5.07
4      882     4.51         706        4.51
5      660     3.37         528        3.37
6      689     3.52         551        3.52

In [10]:
dr.restrict_zero_labels(500)
dr.display_information()

-------------------------------------
Current number of zero-labels: 14873
New number of zero-labels: 500

  abs_orig pct_orig abs_current pct_current
0    14873    76.04         500        9.64
1      701     3.58         701       13.52
2      763      3.9         763       14.71
3      991     5.07         991       19.11
4      882     4.51         882       17.01
5      660     3.37         660       12.73
6      689     3.52         689       13.29

In [11]:
dr.upsample()
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    14873    76.04       14873       14.29
1      701     3.58       14873       14.29
2      763      3.9       14873       14.29
3      991     5.07       14873       14.29
4      882     4.51       14873       14.29
5      660     3.37       14873       14.29
6      689     3.52       14873       14.29

In [12]:
print(dr.X.shape, dr.y.shape, dr.orig_X.shape, dr.orig_y.shape)

(104111, 18, 16) (104111,) (19559, 18, 16) (19559,)

In [13]:
dr.upsample(200)
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    14873    76.04         200       14.29
1      701     3.58         200       14.29
2      763      3.9         200       14.29
3      991     5.07         200       14.29
4      882     4.51         200       14.29
5      660     3.37         200       14.29
6      689     3.52         200       14.29

In [14]:
dr.upsample(10000, exceptions=[0])
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    14873    76.04       14873       19.86
1      701     3.58       10000       13.36
2      763      3.9       10000       13.36
3      991     5.07       10000       13.36
4      882     4.51       10000       13.36
5      660     3.37       10000       13.36
6      689     3.52       10000       13.36