In [1]:
import numpy as np
import pandas as pd
import os
import sys
import warnings
warnings.filterwarnings("ignore")
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

os.getcwd()
os.chdir('../..')
os.getcwd()

'C:\\Users\\p.schambach\\Desktop\\DSR\\drone_steering'

In [2]:
from app_local.module import DataEnsembler, GestureTransformer

de = DataEnsembler(120)
de.investigate_available_datafiles(data_dir='data/gesture/',is_frame_based=True)
de.load_data()
de.assemble_data()
de.display_information()

i: 0 	shape X: (603, 18, 16) 	shape y: (603,) 	count: 49
i: 1 	shape X: (519, 18, 16) 	shape y: (519,) 	count: 37
i: 2 	shape X: (498, 18, 16) 	shape y: (498,) 	count: 59
i: 3 	shape X: (650, 18, 16) 	shape y: (650,) 	count: 138
i: 4 	shape X: (508, 18, 16) 	shape y: (508,) 	count: 95
i: 5 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 90
i: 6 	shape X: (601, 18, 16) 	shape y: (601,) 	count: 107
i: 7 	shape X: (440, 18, 16) 	shape y: (440,) 	count: 83
i: 8 	shape X: (490, 18, 16) 	shape y: (490,) 	count: 70
i: 9 	shape X: (476, 18, 16) 	shape y: (476,) 	count: 74
i: 10 	shape X: (492, 18, 16) 	shape y: (492,) 	count: 85
i: 11 	shape X: (436, 18, 16) 	shape y: (436,) 	count: 59
i: 12 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 86
i: 13 	shape X: (551, 18, 16) 	shape y: (551,) 	count: 127
i: 14 	shape X: (550, 18, 16) 	shape y: (550,) 	count: 114
i: 15 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 115
i: 16 	shape X: (541, 18, 16) 	shape y: (541,) 	count: 92
i: 17 	shape X: (535, 18, 16) 	shape y: (535,) 	count: 121
i: 18 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 108
i: 19 	shape X: (616, 18, 16) 	shape y: (616,) 	count: 72
i: 20 	shape X: (621, 18, 16) 	shape y: (621,) 	count: 189
i: 21 	shape X: (590, 18, 16) 	shape y: (590,) 	count: 107
i: 22 	shape X: (460, 18, 16) 	shape y: (460,) 	count: 0
i: 23 	shape X: (514, 18, 16) 	shape y: (514,) 	count: 120
i: 24 	shape X: (923, 18, 16) 	shape y: (923,) 	count: 214
i: 25 	shape X: (545, 18, 16) 	shape y: (545,) 	count: 91
i: 26 	shape X: (547, 18, 16) 	shape y: (547,) 	count: 124
i: 27 	shape X: (505, 18, 16) 	shape y: (505,) 	count: 111
i: 28 	shape X: (469, 18, 16) 	shape y: (469,) 	count: 77
i: 29 	shape X: (524, 18, 16) 	shape y: (524,) 	count: 89
i: 30 	shape X: (569, 18, 16) 	shape y: (569,) 	count: 97
i: 31 	shape X: (488, 18, 16) 	shape y: (488,) 	count: 57
i: 32 	shape X: (481, 18, 16) 	shape y: (481,) 	count: 74
i: 33 	shape X: (416, 18, 16) 	shape y: (416,) 	count: 59
-----------------------------------------------------------------------------
shape final X: (18188, 18, 16)
number of labeled samples: 3190
Label 0: 14998 	82.46% of total
Label 1: 453 	14.2% of labeled
Label 2: 368 	11.54% of labeled
Label 3: 575 	18.03% of labeled
Label 4: 677 	21.22% of labeled
Label 5: 660 	20.69% of labeled
Label 6: 457 	14.33% of labeled

In [3]:
from app_local.module import DataResampler

In [4]:
dr = DataResampler()

In [5]:
dr.fit(de.X, de.y)
dr.display_information()

  abs_orig pct_orig abs_current pct_current
0    14998    82.46       14998       82.46
1      453     2.49         453        2.49
2      368     2.02         368        2.02
3      575     3.16         575        3.16
4      677     3.72         677        3.72
5      660     3.63         660        3.63
6      457     2.51         457        2.51

In [6]:
a,b = dr.train_test_split(0.2)

In [7]:
print(a.shape, b.shape)
dr.display_information()

(3638, 18, 16) (3638,)

  abs_orig pct_orig abs_current pct_current
0    14998    82.46       11998       82.46
1      453     2.49         362        2.49
2      368     2.02         294        2.02
3      575     3.16         460        3.16
4      677     3.72         542        3.73
5      660     3.63         528        3.63
6      457     2.51         366        2.52

In [ ]:
dr.restrict_zero_labels(500)
dr.display_information()

In [ ]:
dr.upsample()
dr.display_information()

In [ ]:
print(dr.X.shape, dr.y.shape, dr.orig_X.shape, dr.orig_y.shape)

In [ ]:
dr.upsample(200)
dr.display_information()

In [ ]:
dr.upsample(10000, exceptions=[0])
dr.display_information()