In [1]:
import numpy as np
import pandas as pd
import os
import sys
import warnings
warnings.filterwarnings("ignore")
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

os.getcwd()
os.chdir('../..')
os.getcwd()

'C:\\Users\\p.schambach\\Desktop\\DSR\\drone_steering'

In [2]:
from app_local.module import DataEnsembler, GestureTransformer

de = DataEnsembler(120)
de.investigate_available_datafiles(data_dir='data/gesture/',is_frame_based=True)
de.load_data()

In [4]:
de.data[0].head()

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,ms_since_last_frame,ms_since_start,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y
0,330.652879,198.063794,317.111272,247.594685,318.645721,141.643284,338.098494,250.403484,0,0.0,244.917285,202.445251,275.317313,247.668226,252.832705,138.901809,247.234862,250.259751
1,330.654097,193.589369,317.292876,247.826779,319.605955,141.606901,339.914686,250.056719,107,107.0,246.100778,201.271757,276.424059,248.102428,253.846423,137.679758,248.110395,252.987147
2,331.448529,197.024456,317.852591,247.613809,319.906014,140.208933,340.343497,249.927276,121,228.0,244.875221,201.363363,273.596084,247.506937,255.344219,137.241180,248.820809,251.952821
3,331.817814,197.920270,318.037202,247.849019,319.819313,140.085572,340.734974,250.452507,116,344.0,245.576020,201.978553,273.625880,249.090494,255.177429,138.182819,248.975858,252.808843
4,331.810191,192.195117,318.051376,248.002438,320.712613,140.844489,341.786785,250.964349,111,455.0,245.073013,202.078767,273.534740,248.624276,255.220840,138.375098,248.799108,251.982110

In [37]:
de2 = DataEnsembler(120)
de2.investigate_available_datafiles(data_dir='data/gesture/',is_frame_based=False)
de2.load_data()

In [41]:
de2.data[0].head()

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,ms_since_last_frame,ms_since_start,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y
0,330.652879,198.063794,317.111272,247.594685,318.645721,141.643284,338.098494,250.403484,0,0.0,244.917285,202.445251,275.317313,247.668226,252.832705,138.901809,247.234862,250.259751
1,330.654097,193.589369,317.292876,247.826779,319.605955,141.606901,339.914686,250.056719,107,107.0,246.100778,201.271757,276.424059,248.102428,253.846423,137.679758,248.110395,252.987147
2,331.448529,197.024456,317.852591,247.613809,319.906014,140.208933,340.343497,249.927276,121,228.0,244.875221,201.363363,273.596084,247.506937,255.344219,137.241180,248.820809,251.952821
3,331.817814,197.920270,318.037202,247.849019,319.819313,140.085572,340.734974,250.452507,116,344.0,245.576020,201.978553,273.625880,249.090494,255.177429,138.182819,248.975858,252.808843
4,331.810191,192.195117,318.051376,248.002438,320.712613,140.844489,341.786785,250.964349,111,455.0,245.073013,202.078767,273.534740,248.624276,255.220840,138.375098,248.799108,251.982110

In [10]:
de.assemble_data()

-------------------------------------
File ID: 0
steps: 18
self.data_df.shape[0]: 620
-------------------------------------
File ID: 1
steps: 18
self.data_df.shape[0]: 536
-------------------------------------
File ID: 2
steps: 18
self.data_df.shape[0]: 515
-------------------------------------
File ID: 3
steps: 18
self.data_df.shape[0]: 667
-------------------------------------
File ID: 4
steps: 18
self.data_df.shape[0]: 525
-------------------------------------
File ID: 5
steps: 18
self.data_df.shape[0]: 483
-------------------------------------
File ID: 6
steps: 18
self.data_df.shape[0]: 618
-------------------------------------
File ID: 7
steps: 18
self.data_df.shape[0]: 457
-------------------------------------
File ID: 8
steps: 18
self.data_df.shape[0]: 507
-------------------------------------
File ID: 9
steps: 18
self.data_df.shape[0]: 493
-------------------------------------
File ID: 10
steps: 18
self.data_df.shape[0]: 509
-------------------------------------
File ID: 11
steps: 18
self.data_df.shape[0]: 453
-------------------------------------
File ID: 12
steps: 18
self.data_df.shape[0]: 483
-------------------------------------
File ID: 13
steps: 18
self.data_df.shape[0]: 568
-------------------------------------
File ID: 14
steps: 18
self.data_df.shape[0]: 567
-------------------------------------
File ID: 15
steps: 18
self.data_df.shape[0]: 566
-------------------------------------
File ID: 16
steps: 18
self.data_df.shape[0]: 558
-------------------------------------
File ID: 17
steps: 18
self.data_df.shape[0]: 552
-------------------------------------
File ID: 18
steps: 18
self.data_df.shape[0]: 566
-------------------------------------
File ID: 19
steps: 18
self.data_df.shape[0]: 633
-------------------------------------
File ID: 20
steps: 18
self.data_df.shape[0]: 638
-------------------------------------
File ID: 21
steps: 18
self.data_df.shape[0]: 607
-------------------------------------
File ID: 22
steps: 18
self.data_df.shape[0]: 477
-------------------------------------
File ID: 23
steps: 18
self.data_df.shape[0]: 531
-------------------------------------
File ID: 24
steps: 18
self.data_df.shape[0]: 940
-------------------------------------
File ID: 25
steps: 18
self.data_df.shape[0]: 562
-------------------------------------
File ID: 26
steps: 18
self.data_df.shape[0]: 564
-------------------------------------
File ID: 27
steps: 18
self.data_df.shape[0]: 522
-------------------------------------
File ID: 28
steps: 18
self.data_df.shape[0]: 486
-------------------------------------
File ID: 29
steps: 18
self.data_df.shape[0]: 541
-------------------------------------
File ID: 30
steps: 18
self.data_df.shape[0]: 586
-------------------------------------
File ID: 31
steps: 18
self.data_df.shape[0]: 505
-------------------------------------
File ID: 32
steps: 18
self.data_df.shape[0]: 498
-------------------------------------
File ID: 33
steps: 18
self.data_df.shape[0]: 433

In [42]:
de2.assemble_data(tolerance_range=1000, max_error=1000)

KeyError: "['label'] not in index"

In [23]:
for i in range(len(de2.LabelGenerators)):
    print(i)
    print(de2.LabelGenerators[i].data.shape)
    print(de2.LabelGenerators[i].X.shape)
    print(de2.LabelGenerators[i].y.shape)
    print("")

0
(620, 18)
(603, 18, 16)
(603,)

1
(536, 18)
(519, 18, 16)
(519,)

2
(515, 18)
(498, 18, 16)
(498,)

3
(667, 18)
(650, 18, 16)
(650,)

4
(525, 18)
(508, 18, 16)
(508,)

5
(483, 18)
(466, 18, 16)
(466,)

6
(618, 18)
(601, 18, 16)
(601,)

7
(457, 18)
(440, 18, 16)
(440,)

8
(507, 18)
(490, 18, 16)
(490,)

9
(493, 18)
(476, 18, 16)
(476,)

10
(509, 18)
(492, 18, 16)
(492,)

11
(453, 18)
(436, 18, 16)
(436,)

12
(483, 18)
(466, 18, 16)
(466,)

13
(568, 18)
(551, 18, 16)
(551,)

14
(567, 18)
(550, 18, 16)
(550,)

15
(566, 18)
(549, 18, 16)
(549,)

16
(558, 18)
(541, 18, 16)
(541,)

17
(552, 18)
(535, 18, 16)
(535,)

18
(566, 18)
(549, 18, 16)
(549,)

19
(499, 18)
(482, 18, 16)
(482,)

20
(633, 18)
(616, 18, 16)
(616,)

21
(638, 18)
(621, 18, 16)
(621,)

In [38]:
de2.combined_data_files_df

                filename_features          filename_labels
0      features_flip_c_01_120.csv     labels_flip_c_01.csv
1      features_flip_c_02_120.csv     labels_flip_c_02.csv
2      features_flip_c_03_120.csv     labels_flip_c_03.csv
3      features_flip_l_01_120.csv     labels_flip_l_01.csv
4      features_flip_l_02_120.csv     labels_flip_l_02.csv
5      features_flip_l_03_120.csv     labels_flip_l_03.csv
6      features_flip_p_01_120.csv     labels_flip_p_01.csv
7      features_land_c_01_120.csv     labels_land_c_01.csv
8      features_land_c_02_120.csv     labels_land_c_02.csv
9      features_land_c_03_120.csv     labels_land_c_03.csv
10     features_land_l_01_120.csv     labels_land_l_01.csv
11     features_land_l_02_120.csv     labels_land_l_02.csv
12     features_land_l_03_120.csv     labels_land_l_03.csv
13     features_left_c_01_120.csv     labels_left_c_01.csv
14     features_left_c_02_120.csv     labels_left_c_02.csv
15     features_left_c_03_120.csv     labels_left_c_03.csv
16     features_left_l_01_120.csv     labels_left_l_01.csv
17     features_left_l_02_120.csv     labels_left_l_02.csv
18     features_left_l_03_120.csv     labels_left_l_03.csv
19     features_left_l_04_120.csv     labels_left_l_04.csv
20     features_move_c_01_120.csv     labels_move_c_01.csv
21     features_move_l_01_120.csv     labels_move_l_01.csv
22     features_move_l_02_120.csv     labels_move_l_02.csv
23     features_move_p_01_120.csv     labels_move_p_01.csv
24     features_none_p_01_120.csv          labels_none.csv
25    features_right_c_01_120.csv    labels_right_c_01.csv
26    features_right_c_02_120.csv    labels_right_c_02.csv
27    features_right_l_01_120.csv    labels_right_l_01.csv
28    features_right_l_02_120.csv    labels_right_l_02.csv
29    features_right_l_03_120.csv    labels_right_l_03.csv
30  features_takeoff_c_01_120.csv  labels_takeoff_c_01.csv
31  features_takeoff_c_02_120.csv  labels_takeoff_c_02.csv
32  features_takeoff_c_03_120.csv  labels_takeoff_c_03.csv
33  features_takeoff_l_01_120.csv  labels_takeoff_l_01.csv
34  features_takeoff_l_02_120.csv  labels_takeoff_l_02.csv
35  features_takeoff_l_03_120.csv  labels_takeoff_l_03.csv

In [39]:
from app_local.module import LabelGenerator, LabelGeneratorFramebased

In [43]:
lg1 = de.LabelGenerators[0]
lg2 = de2.LabelGenerators[0]

In [50]:
print(lg1.data_df.shape, lg1.labels_df.shape, lg1.labeled_data.shape)
print(lg2.labeled_data.shape)
lg2.labeled_data.head(3)

(620, 16) (13, 3) (620, 16)
(620, 19)

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,ms_since_last_frame,ms_since_start,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y,label
0,330.652879,198.063794,317.111272,247.594685,318.645721,141.643284,338.098494,250.403484,0,0,244.917285,202.445251,275.317313,247.668226,252.832705,138.901809,247.234862,250.259751,0
1,330.654097,193.589369,317.292876,247.826779,319.605955,141.606901,339.914686,250.056719,107,107,246.100778,201.271757,276.424059,248.102428,253.846423,137.679758,248.110395,252.987147,0
2,331.448529,197.024456,317.852591,247.613809,319.906014,140.208933,340.343497,249.927276,121,228,244.875221,201.363363,273.596084,247.506937,255.344219,137.241180,248.820809,251.952821,0

In [51]:
lg1.labeled_data.head(3)

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y
0,330.652879,198.063794,317.111272,247.594685,318.645721,141.643284,338.098494,250.403484,244.917285,202.445251,275.317313,247.668226,252.832705,138.901809,247.234862,250.259751
1,330.654097,193.589369,317.292876,247.826779,319.605955,141.606901,339.914686,250.056719,246.100778,201.271757,276.424059,248.102428,253.846423,137.679758,248.110395,252.987147
2,331.448529,197.024456,317.852591,247.613809,319.906014,140.208933,340.343497,249.927276,244.875221,201.363363,273.596084,247.506937,255.344219,137.241180,248.820809,251.952821