In [1]:
import numpy as np
import pandas as pd
from scipy.interpolate import interp1d
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
import os
print("Orig Dir:",os.getcwd())
os.chdir('../../')
print("Current Dir:",os.getcwd())

Orig Dir: C:\Users\p.schambach\Desktop\DSR\drone_steering\models\playground
Current Dir: C:\Users\p.schambach\Desktop\DSR\drone_steering

# With DataFrameInterpolator

In [3]:
data_path = 'data/gesture/features/features_flip_c_03_120.csv'
df_orig = pd.read_csv(data_path,sep=',')

In [4]:
df_orig.head(3)

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,ms_since_last_frame,ms_since_start,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y
0,341.136444,224.253407,320.787999,274.947119,329.514176,166.895228,345.275067,277.081232,0,0.0,256.999411,225.093688,281.429514,272.660262,262.775556,169.641120,253.241117,271.500238
1,340.985901,224.344366,320.455079,275.406629,329.389916,166.027360,345.465304,277.669048,121,121.0,256.989746,225.065718,281.315210,273.121688,262.903829,169.255270,252.963656,271.032473
2,339.929797,222.910622,320.485332,274.863216,328.574083,164.447614,345.679107,277.607702,124,245.0,257.143566,224.858589,281.088004,273.002894,263.136312,168.805475,253.317534,272.038940

In [5]:
df_orig.tail(3)

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,ms_since_last_frame,ms_since_start,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y
512,319.319667,230.708748,298.824522,282.950745,307.895506,172.928437,324.299526,284.834090,123,63377.0,239.445354,228.770849,256.039323,280.984864,241.841628,173.552154,224.964407,281.640640
513,319.925200,231.459856,301.842279,284.897455,307.853791,173.172676,327.859531,288.420817,127,63504.0,238.713065,228.260810,259.120375,288.724712,241.122537,174.043648,225.099266,282.891109
514,320.256985,231.464999,303.479078,282.911811,308.280313,173.255101,327.940133,288.014988,125,63629.0,238.492736,229.590148,255.973041,281.096239,240.860414,176.263707,224.645867,282.764413

In [6]:
from app_local.module import DataFrameInterpolator

In [7]:
di = DataFrameInterpolator()
di.display_information()

In [8]:
new_df = di.scaleDataFrame(df_orig, actual_length_in_ms=64048, time_of_first_frame='avg')
new_df.head(3)

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,ms_since_last_frame,ms_since_start,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y
0,341.136444,224.253407,320.787999,274.947119,329.514176,166.895228,345.275067,277.081232,0.0,124.0,256.999411,225.093688,281.429514,272.660262,262.775556,169.641120,253.241117,271.500238
1,340.985901,224.344366,320.455079,275.406629,329.389916,166.027360,345.465304,277.669048,121.0,245.0,256.989746,225.065718,281.315210,273.121688,262.903829,169.255270,252.963656,271.032473
2,339.929797,222.910622,320.485332,274.863216,328.574083,164.447614,345.679107,277.607702,125.0,370.0,257.143566,224.858589,281.088004,273.002894,263.136312,168.805475,253.317534,272.038940

In [9]:
new_df.tail(3)

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,ms_since_last_frame,ms_since_start,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y
512,319.319667,230.708748,298.824522,282.950745,307.895506,172.928437,324.299526,284.834090,124.0,63795.0,239.445354,228.770849,256.039323,280.984864,241.841628,173.552154,224.964407,281.640640
513,319.925200,231.459856,301.842279,284.897455,307.853791,173.172676,327.859531,288.420817,127.0,63922.0,238.713065,228.260810,259.120375,288.724712,241.122537,174.043648,225.099266,282.891109
514,320.256985,231.464999,303.479078,282.911811,308.280313,173.255101,327.940133,288.014988,126.0,64048.0,238.492736,229.590148,255.973041,281.096239,240.860414,176.263707,224.645867,282.764413

In [10]:
new_df = di.get_new_df(new_df, 50)
di.display_information()

FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 515
	 [124. 245. 370. 493. 613.] ... [63542. 63671. 63795. 63922. 64048.]

New Time:
	Number of Frames: 1280
	 [124 174 224 274 324] ... [63874 63924 63974 64024 64074]

Original DataFrame Shape: (515, 18)
New DataFrame Shape: (1280, 17)

# With DataEnsembler

In [11]:
from app_local.module import DataEnsembler
de = DataEnsembler()
print(DataEnsembler.video_stats_pattern)


# after investigating the datafiles, our DataEnsembler instance will have a vs_stats dataframe
de.investigate_available_datafiles(data_dir='data/gesture/')
de.video_stats

(?P<movement>[a-z]*)_(?P<person>[a-z]*)_(?P<filenum>\d*)

            file  actual_length  from_extraction  delta
0      flip_c_01          68677            66290   2387
1      flip_c_02          63117            60562   2555
2      flip_c_03          64048            63629    419
3      flip_l_01          70576            69924    652
4      flip_l_02          62915            62303    612
5      flip_l_03          64248            63629    619
6      flip_p_01          66712            66095    617
7      land_c_01          63482            62870    612
8      land_c_02          64547            63666    881
9      land_c_03          64114            63556    558
10     land_l_01          68994            68204    790
11     land_l_02          61750            60163   1587
12     land_l_03          64814            63915    899
13     left_c_01          62482            61139   1343
14     left_c_02          61017            60053    964
15     left_c_03          62982            61599   1383
16     left_l_01          65180            61670   3510
17     left_l_02          61750            61086    664
18     left_l_03          63515            62922    593
19     move_c_01          70709            69928    781
20     move_l_01          73274            72651    623
21     move_p_01          70244            69061   1183
22     none_p_01          53356            54506  -1150
23    right_c_01          69011            60680   8331
24    right_c_02         105258           104692    566
25    right_l_01          69410            63608   5802
26    right_l_02          65980            65414    566
27    right_l_03          61317            60407    910
28  takeoff_l_01          65647            64669    978
29  takeoff_c_01          63448            62639    809
30  takeoff_c_02          61217            60658    559
31  takeoff_c_03          78103            77498    605
32  takeoff_l_02          68444            67195   1249
33  takeoff_l_03          62383            61528    855

In [12]:
de.combined_data_files_df.head()

            filename_features       filename_labels
0  features_flip_c_01_120.csv  labels_flip_c_01.csv
1  features_flip_c_02_120.csv  labels_flip_c_02.csv
2  features_flip_c_03_120.csv  labels_flip_c_03.csv
3  features_flip_l_01_120.csv  labels_flip_l_01.csv
4  features_flip_l_02_120.csv  labels_flip_l_02.csv

In [13]:
de.load_data()

In [14]:
de.rescale_data_frames(time_of_first_frame='avg',verbose=False)

In [15]:
de.interpolate_data_frames(frmlen = 50, verbose=True)

0: (620, 18) (1373, 17)
1: (536, 18) (1261, 17)
2: (515, 18) (1280, 17)
3: (667, 18) (1411, 17)
4: (525, 18) (1257, 17)
5: (483, 18) (1284, 17)
6: (618, 18) (1334, 17)
7: (457, 18) (1268, 17)
8: (507, 18) (1290, 17)
9: (493, 18) (1281, 17)
10: (509, 18) (1379, 17)
11: (453, 18) (1234, 17)
12: (483, 18) (1295, 17)
13: (568, 18) (1249, 17)
14: (567, 18) (1220, 17)
15: (566, 18) (1259, 17)
16: (558, 18) (1303, 17)
17: (552, 18) (1234, 17)
18: (566, 18) (1270, 17)
19: (633, 18) (1413, 17)
20: (638, 18) (1465, 17)
21: (607, 18) (1404, 17)
22: (477, 18) (1066, 17)
23: (531, 18) (1379, 17)
24: (940, 18) (2104, 17)
25: (562, 18) (1387, 17)
26: (564, 18) (1319, 17)
27: (522, 18) (1225, 17)
28: (486, 18) (1268, 17)
29: (541, 18) (1224, 17)
30: (586, 18) (1561, 17)
31: (505, 18) (1312, 17)
32: (498, 18) (1368, 17)
33: (433, 18) (1246, 17)

In [16]:
for i,interp in enumerate(de.Interpolators):
    print("")
    print(str(i))
    interp.display_information()

0
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 620
	 [110. 220. 345. 465. 580.] ... [68182. 68321. 68450. 68568. 68677.]

New Time:
	Number of Frames: 1373
	 [110 160 210 260 310] ... [68510 68560 68610 68660 68710]

Original DataFrame Shape: (620, 18)
New DataFrame Shape: (1373, 17)

1
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 536
	 [117. 221. 330. 438. 544.] ... [62656. 62763. 62875. 62983. 63117.]

New Time:
	Number of Frames: 1261
	 [117 167 217 267 317] ... [62917 62967 63017 63067 63117]

Original DataFrame Shape: (536, 18)
New DataFrame Shape: (1261, 17)

2
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 515
	 [124. 245. 370. 493. 613.] ... [63542. 63671. 63795. 63922. 64048.]

New Time:
	Number of Frames: 1280
	 [124 174 224 274 324] ... [63874 63924 63974 64024 64074]

Original DataFrame Shape: (515, 18)
New DataFrame Shape: (1280, 17)

3
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 667
	 [105. 203. 316. 424. 525.] ... [70152. 70260. 70366. 70475. 70576.]

New Time:
	Number of Frames: 1411
	 [105 155 205 255 305] ... [70405 70455 70505 70555 70605]

Original DataFrame Shape: (667, 18)
New DataFrame Shape: (1411, 17)

4
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 525
	 [119. 231. 354. 464. 569.] ... [62397. 62554. 62677. 62797. 62915.]

New Time:
	Number of Frames: 1257
	 [119 169 219 269 319] ... [62719 62769 62819 62869 62919]

Original DataFrame Shape: (525, 18)
New DataFrame Shape: (1257, 17)

5
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 483
	 [132. 282. 465. 589. 716.] ... [63727. 63862. 63988. 64123. 64248.]

New Time:
	Number of Frames: 1284
	 [132 182 232 282 332] ... [64082 64132 64182 64232 64282]

Original DataFrame Shape: (483, 18)
New DataFrame Shape: (1284, 17)

6
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 618
	 [107. 214. 324. 434. 534.] ... [66259. 66379. 66499. 66606. 66712.]

New Time:
	Number of Frames: 1334
	 [107 157 207 257 307] ... [66557 66607 66657 66707 66757]

Original DataFrame Shape: (618, 18)
New DataFrame Shape: (1334, 17)

7
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 457
	 [139. 269. 398. 525. 718.] ... [62963. 63095. 63224. 63354. 63482.]

New Time:
	Number of Frames: 1268
	 [139 189 239 289 339] ... [63289 63339 63389 63439 63489]

Original DataFrame Shape: (457, 18)
New DataFrame Shape: (1268, 17)

8
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 507
	 [126. 255. 378. 499. 619.] ... [63979. 64115. 64301. 64425. 64547.]

New Time:
	Number of Frames: 1290
	 [126 176 226 276 326] ... [64376 64426 64476 64526 64576]

Original DataFrame Shape: (507, 18)
New DataFrame Shape: (1290, 17)

9
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 493
	 [129. 254. 381. 507. 633.] ... [63517. 63668. 63869. 63993. 64114.]

New Time:
	Number of Frames: 1281
	 [129 179 229 279 329] ... [63929 63979 64029 64079 64129]

Original DataFrame Shape: (493, 18)
New DataFrame Shape: (1281, 17)

10
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 509
	 [134. 261. 388. 512. 635.] ... [68464. 68598. 68733. 68863. 68994.]

New Time:
	Number of Frames: 1379
	 [134 184 234 284 334] ... [68834 68884 68934 68984 69034]

Original DataFrame Shape: (509, 18)
New DataFrame Shape: (1379, 17)

11
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 453
	 [135. 264. 393. 527. 656.] ... [61243. 61369. 61497. 61625. 61750.]

New Time:
	Number of Frames: 1234
	 [135 185 235 285 335] ... [61585 61635 61685 61735 61785]

Original DataFrame Shape: (453, 18)
New DataFrame Shape: (1234, 17)

12
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 483
	 [134. 276. 484. 610. 735.] ... [64289. 64415. 64548. 64680. 64814.]

New Time:
	Number of Frames: 1295
	 [134 184 234 284 334] ... [64634 64684 64734 64784 64834]

Original DataFrame Shape: (483, 18)
New DataFrame Shape: (1295, 17)

13
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 568
	 [109. 223. 337. 446. 568.] ... [62021. 62129. 62236. 62363. 62482.]

New Time:
	Number of Frames: 1249
	 [109 159 209 259 309] ... [62309 62359 62409 62459 62509]

Original DataFrame Shape: (568, 18)
New DataFrame Shape: (1249, 17)

14
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 567
	 [106. 207. 310. 410. 512.] ... [60585. 60694. 60798. 60906. 61017.]

New Time:
	Number of Frames: 1220
	 [106 156 206 256 306] ... [60856 60906 60956 61006 61056]

Original DataFrame Shape: (567, 18)
New DataFrame Shape: (1220, 17)

15
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 566
	 [110. 220. 332. 440. 550.] ... [62553. 62660. 62768. 62873. 62982.]

New Time:
	Number of Frames: 1259
	 [110 160 210 260 310] ... [62810 62860 62910 62960 63010]

Original DataFrame Shape: (566, 18)
New DataFrame Shape: (1259, 17)

16
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 558
	 [116. 242. 353. 468. 589.] ... [64726. 64840. 64954. 65068. 65180.]

New Time:
	Number of Frames: 1303
	 [116 166 216 266 316] ... [65016 65066 65116 65166 65216]

Original DataFrame Shape: (558, 18)
New DataFrame Shape: (1303, 17)

17
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 552
	 [111. 226. 338. 450. 565.] ... [61274. 61387. 61496. 61611. 61750.]

New Time:
	Number of Frames: 1234
	 [111 161 211 261 311] ... [61561 61611 61661 61711 61761]

Original DataFrame Shape: (552, 18)
New DataFrame Shape: (1234, 17)

18
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 566
	 [112. 226. 342. 453. 572.] ... [63077. 63183. 63296. 63404. 63515.]

New Time:
	Number of Frames: 1270
	 [112 162 212 262 312] ... [63362 63412 63462 63512 63562]

Original DataFrame Shape: (566, 18)
New DataFrame Shape: (1270, 17)

19
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 633
	 [111. 221. 332. 442. 553.] ... [70181. 70291. 70423. 70588. 70709.]

New Time:
	Number of Frames: 1413
	 [111 161 211 261 311] ... [70511 70561 70611 70661 70711]

Original DataFrame Shape: (633, 18)
New DataFrame Shape: (1413, 17)

20
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 638
	 [114. 223. 330. 440. 563.] ... [72831. 72944. 73055. 73163. 73274.]

New Time:
	Number of Frames: 1465
	 [114 164 214 264 314] ... [73114 73164 73214 73264 73314]

Original DataFrame Shape: (638, 18)
New DataFrame Shape: (1465, 17)

21
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 607
	 [115. 227. 348. 458. 567.] ... [69775. 69887. 69998. 70112. 70244.]

New Time:
	Number of Frames: 1404
	 [115 165 215 265 315] ... [70065 70115 70165 70215 70265]

Original DataFrame Shape: (607, 18)
New DataFrame Shape: (1404, 17)

22
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 477
	 [111. 221. 329. 438. 546.] ... [52895. 53005. 53122. 53233. 53356.]

New Time:
	Number of Frames: 1066
	 [111 161 211 261 311] ... [53161 53211 53261 53311 53361]

Original DataFrame Shape: (477, 18)
New DataFrame Shape: (1066, 17)

23
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 531
	 [129. 259. 387. 515. 664.] ... [68508. 68634. 68761. 68880. 69011.]

New Time:
	Number of Frames: 1379
	 [129 179 229 279 329] ... [68829 68879 68929 68979 69029]

Original DataFrame Shape: (531, 18)
New DataFrame Shape: (1379, 17)

24
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 940
	 [111. 225. 335. 447. 560.] ... [104799. 104908. 105018. 105130. 105258.]

New Time:
	Number of Frames: 2104
	 [111 161 211 261 311] ... [105061 105111 105161 105211 105261]

Original DataFrame Shape: (940, 18)
New DataFrame Shape: (2104, 17)

25
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 562
	 [123. 247. 375. 497. 620.] ... [68911. 69032. 69155. 69292. 69410.]

New Time:
	Number of Frames: 1387
	 [123 173 223 273 323] ... [69223 69273 69323 69373 69423]

Original DataFrame Shape: (562, 18)
New DataFrame Shape: (1387, 17)

26
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 564
	 [116. 233. 354. 475. 593.] ... [65533. 65647. 65757. 65869. 65980.]

New Time:
	Number of Frames: 1319
	 [116 166 216 266 316] ... [65816 65866 65916 65966 66016]

Original DataFrame Shape: (564, 18)
New DataFrame Shape: (1319, 17)

27
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 522
	 [117. 231. 346. 475. 592.] ... [60802. 60924. 61048. 61167. 61317.]

New Time:
	Number of Frames: 1225
	 [117 167 217 267 317] ... [61117 61167 61217 61267 61317]

Original DataFrame Shape: (522, 18)
New DataFrame Shape: (1225, 17)

28
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 486
	 [129. 303. 451. 581. 708.] ... [62935. 63056. 63179. 63306. 63448.]

New Time:
	Number of Frames: 1268
	 [129 179 229 279 329] ... [63279 63329 63379 63429 63479]

Original DataFrame Shape: (486, 18)
New DataFrame Shape: (1268, 17)

29
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 541
	 [113. 214. 315. 418. 519.] ... [60608. 60734. 60904. 61079. 61217.]

New Time:
	Number of Frames: 1224
	 [113 163 213 263 313] ... [61063 61113 61163 61213 61263]

Original DataFrame Shape: (541, 18)
New DataFrame Shape: (1224, 17)

30
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 586
	 [133. 265. 397. 526. 656.] ... [77574. 77705. 77836. 77968. 78103.]

New Time:
	Number of Frames: 1561
	 [133 183 233 283 333] ... [77933 77983 78033 78083 78133]

Original DataFrame Shape: (586, 18)
New DataFrame Shape: (1561, 17)

31
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 505
	 [130. 257. 381. 506. 631.] ... [65141. 65269. 65396. 65521. 65647.]

New Time:
	Number of Frames: 1312
	 [130 180 230 280 330] ... [65480 65530 65580 65630 65680]

Original DataFrame Shape: (505, 18)
New DataFrame Shape: (1312, 17)

32
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 498
	 [136. 332. 463. 596. 724.] ... [67901. 68041. 68179. 68311. 68444.]

New Time:
	Number of Frames: 1368
	 [136 186 236 286 336] ... [68286 68336 68386 68436 68486]

Original DataFrame Shape: (498, 18)
New DataFrame Shape: (1368, 17)

33
FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 433
	 [144. 315. 536. 670. 809.] ... [61633. 61887. 62057. 62221. 62383.]

New Time:
	Number of Frames: 1246
	 [144 194 244 294 344] ... [62194 62244 62294 62344 62394]

Original DataFrame Shape: (433, 18)
New DataFrame Shape: (1246, 17)

In [17]:
de.assemble_data(max_error=500,tolerance_range=400)

In [18]:
de.display_information()

i: 0 	shape X: (1356, 18, 16) 	shape y: (1356,) 	count: 65
i: 1 	shape X: (1244, 18, 16) 	shape y: (1244,) 	count: 113
i: 2 	shape X: (1263, 18, 16) 	shape y: (1263,) 	count: 120
i: 3 	shape X: (1394, 18, 16) 	shape y: (1394,) 	count: 176
i: 4 	shape X: (1240, 18, 16) 	shape y: (1240,) 	count: 104
i: 5 	shape X: (1267, 18, 16) 	shape y: (1267,) 	count: 121
i: 6 	shape X: (1317, 18, 16) 	shape y: (1317,) 	count: 104
i: 7 	shape X: (1251, 18, 16) 	shape y: (1251,) 	count: 49
i: 8 	shape X: (1273, 18, 16) 	shape y: (1273,) 	count: 88
i: 9 	shape X: (1264, 18, 16) 	shape y: (1264,) 	count: 96
i: 10 	shape X: (1362, 18, 16) 	shape y: (1362,) 	count: 80
i: 11 	shape X: (1217, 18, 16) 	shape y: (1217,) 	count: 64
i: 12 	shape X: (1278, 18, 16) 	shape y: (1278,) 	count: 88
i: 13 	shape X: (1232, 18, 16) 	shape y: (1232,) 	count: 0
i: 14 	shape X: (1203, 18, 16) 	shape y: (1203,) 	count: 0
i: 15 	shape X: (1242, 18, 16) 	shape y: (1242,) 	count: 0
i: 16 	shape X: (1286, 18, 16) 	shape y: (1286,) 	count: 0
i: 17 	shape X: (1217, 18, 16) 	shape y: (1217,) 	count: 0
i: 18 	shape X: (1253, 18, 16) 	shape y: (1253,) 	count: 0
i: 19 	shape X: (1396, 18, 16) 	shape y: (1396,) 	count: 139
i: 20 	shape X: (1448, 18, 16) 	shape y: (1448,) 	count: 96
i: 21 	shape X: (1387, 18, 16) 	shape y: (1387,) 	count: 138
i: 22 	shape X: (1049, 18, 16) 	shape y: (1049,) 	count: 0
i: 23 	shape X: (1362, 18, 16) 	shape y: (1362,) 	count: 0
i: 24 	shape X: (2087, 18, 16) 	shape y: (2087,) 	count: 0
i: 25 	shape X: (1370, 18, 16) 	shape y: (1370,) 	count: 0
i: 26 	shape X: (1302, 18, 16) 	shape y: (1302,) 	count: 0
i: 27 	shape X: (1208, 18, 16) 	shape y: (1208,) 	count: 0
i: 28 	shape X: (1251, 18, 16) 	shape y: (1251,) 	count: 0
i: 29 	shape X: (1207, 18, 16) 	shape y: (1207,) 	count: 72
i: 30 	shape X: (1544, 18, 16) 	shape y: (1544,) 	count: 120
i: 31 	shape X: (1295, 18, 16) 	shape y: (1295,) 	count: 0
i: 32 	shape X: (1351, 18, 16) 	shape y: (1351,) 	count: 59
i: 33 	shape X: (1229, 18, 16) 	shape y: (1229,) 	count: 89
-----------------------------------------------------------------------------
shape final X: (44645, 18, 16)
number of labeled samples: 1981

In [19]:
de.data[0].head(3)

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y,ms_since_start
0,330.652879,198.063794,317.111272,247.594685,318.645721,141.643284,338.098494,250.403484,244.917285,202.445251,275.317313,247.668226,252.832705,138.901809,247.234862,250.259751,110
1,330.516778,194.654546,317.109291,247.814561,319.154056,141.927192,339.203544,250.203695,246.078051,201.711251,276.744393,248.291192,253.094001,138.310876,247.648228,252.383868,160
2,330.613449,193.583187,317.252554,247.837887,319.543420,141.695772,339.832609,250.075551,246.168333,201.316533,276.585796,248.176499,253.702561,137.773488,248.037164,252.992357,210

In [20]:
de.data[0].tail(3)

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y,ms_since_start
1370,292.632753,232.596761,280.791249,283.532374,285.724549,179.007104,296.005683,260.172785,203.668775,227.821580,242.262471,284.657207,218.121446,176.606893,222.639620,252.666433,68610
1371,290.209534,232.223023,279.866342,285.272385,285.163460,177.939146,283.073000,256.548099,204.097775,227.897521,241.148246,285.026493,217.487580,177.274672,221.585087,251.754410,68660
1372,289.412547,232.244984,280.232776,286.453424,285.136993,177.276252,277.792111,256.843287,204.921382,228.074652,240.392729,285.062249,217.358494,177.692711,220.701188,253.244256,68710