In [1]:
import numpy as np
import pandas as pd
from scipy.interpolate import interp1d

In [2]:
!conda list scipy

# packages in environment at C:\ProgramData\Anaconda3\envs\DataScienceRetreat:
#
# Name                    Version                   Build  Channel
scipy                     1.1.0            py36h4f6bf74_1

In [3]:
import os
print("Orig Dir:",os.getcwd())
os.chdir('../../')
print("Current Dir:",os.getcwd())

Orig Dir: C:\Users\p.schambach\Desktop\DSR\drone_steering\models\playground
Current Dir: C:\Users\p.schambach\Desktop\DSR\drone_steering

In [4]:
data_path = 'data/gesture/features/features_flip_c_03_120.csv'
df_orig = pd.read_csv(data_path,sep=',')

In [5]:
df_orig.head()

,leftElbow_x,leftElbow_y,leftHip_x,leftHip_y,leftShoulder_x,leftShoulder_y,leftWrist_x,leftWrist_y,ms_since_last_frame,ms_since_start,rightElbow_x,rightElbow_y,rightHip_x,rightHip_y,rightShoulder_x,rightShoulder_y,rightWrist_x,rightWrist_y
0,341.136444,224.253407,320.787999,274.947119,329.514176,166.895228,345.275067,277.081232,0,0.0,256.999411,225.093688,281.429514,272.660262,262.775556,169.641120,253.241117,271.500238
1,340.985901,224.344366,320.455079,275.406629,329.389916,166.027360,345.465304,277.669048,121,121.0,256.989746,225.065718,281.315210,273.121688,262.903829,169.255270,252.963656,271.032473
2,339.929797,222.910622,320.485332,274.863216,328.574083,164.447614,345.679107,277.607702,124,245.0,257.143566,224.858589,281.088004,273.002894,263.136312,168.805475,253.317534,272.038940
3,341.394664,225.080272,323.362793,277.252602,327.161964,165.040823,345.486792,282.963012,123,368.0,256.015686,224.441979,280.673399,273.297257,262.428639,167.931032,251.685311,271.837686
4,341.007135,227.292845,320.850446,280.183320,326.259811,167.356121,342.353060,285.637142,119,487.0,255.963889,224.110870,280.559333,274.064114,261.804933,166.962579,253.027392,270.509372

In [6]:
from app_local.module import DataFrameInterpolator

In [7]:
di = DataFrameInterpolator()
di.display_information()

In [8]:
new_df = di.scaleDataFrame(df_orig, 64048, 'avg')
new_df = di.get_new_df(new_df, 50)
di.display_information()

FrameLength in Milliseconds: 50

Original Time:
	Number of Frames: 515
	 [124. 245. 370. 493. 613.] ... [63542. 63671. 63795. 63922. 64048.]

New Time:
	Number of Frames: 1280
	 [124 174 224 274 324] ... [63874 63924 63974 64024 64074]

Original DataFrame Shape: (515, 18)
New DataFrame Shape: (1280, 17)

In [9]:
from app_local.module import DataEnsembler
de = DataEnsembler()

de.investigate_available_datafiles(data_dir='data/gesture/')
de.data_source_df.head()

,filename,filetype,movement,person,filenum,frame_length,actual_length
0,features_flip_c_01_120.csv,features,flip,c,01,120,NaN
1,features_flip_c_02_120.csv,features,flip,c,02,120,63117
2,features_flip_c_03_120.csv,features,flip,c,03,120,64048
3,features_flip_l_01_120.csv,features,flip,l,01,120,NaN
4,features_flip_l_02_120.csv,features,flip,l,02,120,62915

In [10]:
de.combined_data_files_df.head()

            filename_features       filename_labels
0  features_flip_c_01_120.csv  labels_flip_c_01.csv
1  features_flip_c_02_120.csv  labels_flip_c_02.csv
2  features_flip_c_03_120.csv  labels_flip_c_03.csv
3  features_flip_l_01_120.csv  labels_flip_l_01.csv
4  features_flip_l_02_120.csv  labels_flip_l_02.csv

In [11]:
de.video_stats

            file  from_extraction  actual_length  delta
0      flip_c_02            60562          63117   2555
1      flip_c_03            63629          64048    419
2      flip_l_02            62303          62915    612
3      flip_l_03            63629          64248    619
4      land_c_02            63666          64547    881
5      land_c_03            63556          64114    558
6      land_l_02            60163          61750   1587
7      land_l_03            63915          64814    899
8   takeoff_c_02            60658          61217    559
9   takeoff_c_03            77498          78103    605
10  takeoff_l_02            67195          68444   1249
11  takeoff_l_03            61528          62383    855

In [15]:
de.load_data()
de.assemble_data(500,500)

C:\Users\p.schambach\Desktop\DSR\drone_steering\app_local\module.py:268: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  _l["_key_"] = 0

In [18]:
de.display_information()
de.LabelGenerators[0].feature_names

i: 0 	shape X: (604, 17, 16) 	shape y: (604,) 	count: 34
i: 1 	shape X: (520, 17, 16) 	shape y: (520,) 	count: 58
i: 2 	shape X: (499, 17, 16) 	shape y: (499,) 	count: 58
i: 3 	shape X: (651, 17, 16) 	shape y: (651,) 	count: 97
i: 4 	shape X: (509, 17, 16) 	shape y: (509,) 	count: 56
i: 5 	shape X: (467, 17, 16) 	shape y: (467,) 	count: 57
i: 6 	shape X: (602, 17, 16) 	shape y: (602,) 	count: 54
i: 7 	shape X: (441, 17, 16) 	shape y: (441,) 	count: 16
i: 8 	shape X: (491, 17, 16) 	shape y: (491,) 	count: 41
i: 9 	shape X: (477, 17, 16) 	shape y: (477,) 	count: 46
i: 10 	shape X: (493, 17, 16) 	shape y: (493,) 	count: 34
i: 11 	shape X: (437, 17, 16) 	shape y: (437,) 	count: 29
i: 12 	shape X: (467, 17, 16) 	shape y: (467,) 	count: 41
i: 13 	shape X: (552, 17, 16) 	shape y: (552,) 	count: 0
i: 14 	shape X: (551, 17, 16) 	shape y: (551,) 	count: 0
i: 15 	shape X: (550, 17, 16) 	shape y: (550,) 	count: 0
i: 16 	shape X: (542, 17, 16) 	shape y: (542,) 	count: 0
i: 17 	shape X: (536, 17, 16) 	shape y: (536,) 	count: 0
i: 18 	shape X: (550, 17, 16) 	shape y: (550,) 	count: 0
i: 19 	shape X: (617, 17, 16) 	shape y: (617,) 	count: 71
i: 20 	shape X: (622, 17, 16) 	shape y: (622,) 	count: 54
i: 21 	shape X: (591, 17, 16) 	shape y: (591,) 	count: 73
i: 22 	shape X: (461, 17, 16) 	shape y: (461,) 	count: 0
i: 23 	shape X: (515, 17, 16) 	shape y: (515,) 	count: 0
i: 24 	shape X: (924, 17, 16) 	shape y: (924,) 	count: 0
i: 25 	shape X: (546, 17, 16) 	shape y: (546,) 	count: 0
i: 26 	shape X: (548, 17, 16) 	shape y: (548,) 	count: 0
i: 27 	shape X: (506, 17, 16) 	shape y: (506,) 	count: 0
i: 28 	shape X: (470, 17, 16) 	shape y: (470,) 	count: 0
i: 29 	shape X: (525, 17, 16) 	shape y: (525,) 	count: 37
i: 30 	shape X: (570, 17, 16) 	shape y: (570,) 	count: 59
i: 31 	shape X: (489, 17, 16) 	shape y: (489,) 	count: 0
i: 32 	shape X: (482, 17, 16) 	shape y: (482,) 	count: 28
i: 33 	shape X: (417, 17, 16) 	shape y: (417,) 	count: 37
-----------------------------------------------------------------------------
shape final X: (18222, 17, 16)
number of labeled samples: 980

Index(['leftElbow_x', 'leftElbow_y', 'leftHip_x', 'leftHip_y',
       'leftShoulder_x', 'leftShoulder_y', 'leftWrist_x', 'leftWrist_y',
       'rightElbow_x', 'rightElbow_y', 'rightHip_x', 'rightHip_y',
       'rightShoulder_x', 'rightShoulder_y', 'rightWrist_x', 'rightWrist_y'],
      dtype='object')