In [91]:
import pandas as pd
import numpy as np
import seaborn as sns

### Inspecting Train Data

In [94]:
df = pd.read_csv(r'data\video_001.csv')
df.head()

,leftShoulder_x,leftShoulder_y,rightShoulder_x,rightShoulder_y,leftElbow_x,leftElbow_y,rightElbow_x,rightElbow_y,leftWrist_x,leftWrist_y,rightWrist_x,rightWrist_y,label
0,392,152,322,146,402,210,268,160,401,267,230,148,1
1,393,152,319,147,399,210,260,164,402,272,219,147,1
2,391,151,321,147,403,207,269,162,408,270,356,272,1
3,391,150,321,145,403,207,265,166,397,267,335,266,1
4,390,150,322,149,403,210,270,159,406,269,224,148,1

In [95]:
df.describe()

,leftShoulder_x,leftShoulder_y,rightShoulder_x,rightShoulder_y,leftElbow_x,leftElbow_y,rightElbow_x,rightElbow_y,leftWrist_x,leftWrist_y,rightWrist_x,rightWrist_y,label
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,379.285714,147.746032,309.888889,147.349206,402.412698,184.238095,282.222222,177.222222,405.190476,226.682540,277.634921,205.222222,2.619048
std,5.592127,5.665311,4.701102,6.481136,15.449851,41.403488,24.600973,45.937350,37.441937,76.862849,41.038653,82.635118,1.249885
min,367.000000,130.000000,298.000000,129.000000,375.000000,88.000000,245.000000,83.000000,373.000000,19.000000,186.000000,13.000000,1.000000
25%,377.000000,148.000000,308.000000,146.000000,392.000000,156.000000,265.000000,156.000000,387.000000,253.000000,251.500000,141.000000,1.000000
50%,379.000000,150.000000,309.000000,150.000000,397.000000,209.000000,291.000000,210.000000,392.000000,263.000000,290.000000,263.000000,3.000000
75%,382.000000,151.000000,311.500000,152.000000,410.000000,211.000000,295.000000,215.000000,402.500000,267.000000,298.000000,268.000000,4.000000
max,393.000000,154.000000,322.000000,154.000000,446.000000,217.000000,414.000000,219.000000,523.000000,273.000000,404.000000,274.000000,4.000000

In [96]:
df.label.unique()

array([1, 3, 4, 2], dtype=int64)

### Loading Data and Training Model

In [97]:
data_csv = np.genfromtxt('data/video_001.csv', delimiter=',')

train_x = data_csv[1:50,0:12] / 600
train_y = data_csv[1:50,12:13]
test_x = data_csv[50:,0:12] / 600
test_y = data_csv[50:,12:13]

In [98]:
train_x.shape

(49, 12)

In [99]:
from keras.utils import to_categorical
train_y = to_categorical(train_y)
test_y = to_categorical(test_y)

In [100]:
print(train_x[4])
print(train_y[4])

[0.65       0.25       0.53666667 0.24833333 0.67166667 0.35
 0.45       0.265      0.67666667 0.44833333 0.37333333 0.24666667]
[0. 1. 0. 0. 0.]

In [101]:
print(test_x[4])
print(test_y[4])

[0.63166667 0.24666667 0.51333333 0.25166667 0.655      0.355
 0.49333333 0.35333333 0.65333333 0.445      0.49333333 0.45166667]
[0. 0. 0. 0. 1.]

In [102]:
from keras import models, layers

model = models.Sequential()
model.add(layers.Dense(
    10, 
    activation="relu", 
    input_shape=(12, )))
model.add(layers.Dense(8, activation="relu"))
model.add(layers.Dense(5, activation="softmax"))

model.summary()                                         

from keras import optimizers, losses, metrics
model.compile(
    optimizer=optimizers.RMSprop(lr=0.001),
    loss=losses.categorical_crossentropy,
    metrics=[metrics.categorical_accuracy]
)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_19 (Dense)             (None, 10)                130
_________________________________________________________________
dense_20 (Dense)             (None, 8)                 88
_________________________________________________________________
dense_21 (Dense)             (None, 5)                 45
=================================================================
Total params: 263
Trainable params: 263
Non-trainable params: 0
_________________________________________________________________

In [103]:
history = model.fit(
    train_x,
    train_y,
    epochs=3,
    batch_size=10
)

Epoch 1/3
49/49 [==============================] - 1s 19ms/step - loss: 1.8140 - categorical_accuracy: 0.2245
Epoch 2/3
49/49 [==============================] - 0s 469us/step - loss: 1.7740 - categorical_accuracy: 0.2245
Epoch 3/3
49/49 [==============================] - 0s 653us/step - loss: 1.7442 - categorical_accuracy: 0.2245

In [104]:
test_loss, test_acc = model.evaluate(test_x, test_y)
print("Loss / Accuracy Evaluation")
print("--------------------------")
print("Loss:     " + str(round(test_loss,5)))
print("Accuracy: " + str(round(test_acc,2)))

14/14 [==============================] - 0s 18ms/step
Loss / Accuracy Evaluation
--------------------------
Loss:     1.73362
Accuracy: 0.0

In [105]:
test_y_pred = model.predict(test_x)

In [106]:
test_y_pred

array([[0.23112848, 0.12233267, 0.18304035, 0.26989207, 0.1936064 ],
       [0.23532586, 0.11970539, 0.1806224 , 0.26995486, 0.19439135],
       [0.23674181, 0.11945816, 0.17963599, 0.26807827, 0.19608578],
       [0.23703484, 0.11922859, 0.17941365, 0.2680425 , 0.19628039],
       [0.23651321, 0.1198763 , 0.17970033, 0.26768506, 0.19622518],
       [0.2367021 , 0.11952338, 0.17963837, 0.26802763, 0.19610849],
       [0.23646438, 0.11962967, 0.17978045, 0.2682271 , 0.19589846],
       [0.2367607 , 0.11935552, 0.17957032, 0.26826656, 0.19604693],
       [0.23699792, 0.11958047, 0.17939425, 0.26743743, 0.19658999],
       [0.23685658, 0.1197015 , 0.17943272, 0.26746148, 0.19654767],
       [0.23752542, 0.11859722, 0.17920268, 0.26840317, 0.19627152],
       [0.23611319, 0.12016328, 0.18004316, 0.26777163, 0.19590874],
       [0.23566505, 0.12038782, 0.18045357, 0.26804608, 0.1954475 ],
       [0.23566505, 0.12038782, 0.18045357, 0.26804608, 0.1954475 ]],
      dtype=float32)

In [107]:
model.save('model.hdf5')