# 1) Data Prep

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
cwd = os.getcwd()

counter = 0
print(counter, cwd)
while not cwd.endswith("drone_steering") and counter < 10:
    os.chdir('..')
    cwd = os.getcwd()
    counter = counter + 1
    print(counter, cwd)

0 C:\Users\p.schambach\Desktop\DSR\drone_steering\models
1 C:\Users\p.schambach\Desktop\DSR\drone_steering

## a) Data loading

In [3]:
from app_local.module import DataEnsembler, GestureTransformer

de = DataEnsembler(120)
de.investigate_available_datafiles(data_dir='data/gesture/',is_frame_based=True)
de.load_data()

## d) Generate training data

In [4]:
de.assemble_data(tolerance_range=2)

In [5]:
de.combined_data_files_df

                filename_features          filename_labels
0      features_flip_c_01_120.csv     labels_flip_c_01.csv
1      features_flip_c_02_120.csv     labels_flip_c_02.csv
2      features_flip_c_03_120.csv     labels_flip_c_03.csv
3      features_flip_l_01_120.csv     labels_flip_l_01.csv
4      features_flip_l_02_120.csv     labels_flip_l_02.csv
5      features_flip_l_03_120.csv     labels_flip_l_03.csv
6      features_flip_p_01_120.csv     labels_flip_p_01.csv
7      features_land_c_01_120.csv     labels_land_c_01.csv
8      features_land_c_02_120.csv     labels_land_c_02.csv
9      features_land_c_03_120.csv     labels_land_c_03.csv
10     features_land_l_01_120.csv     labels_land_l_01.csv
11     features_land_l_02_120.csv     labels_land_l_02.csv
12     features_land_l_03_120.csv     labels_land_l_03.csv
13     features_left_c_01_120.csv     labels_left_c_01.csv
14     features_left_c_02_120.csv     labels_left_c_02.csv
15     features_left_c_03_120.csv     labels_left_c_03.csv
16     features_left_l_01_120.csv     labels_left_l_01.csv
17     features_left_l_02_120.csv     labels_left_l_02.csv
18     features_left_l_03_120.csv     labels_left_l_03.csv
19     features_left_l_04_120.csv     labels_left_l_04.csv
20     features_move_c_01_120.csv     labels_move_c_01.csv
21     features_move_l_01_120.csv     labels_move_l_01.csv
22     features_move_l_02_120.csv     labels_move_l_02.csv
23     features_move_p_01_120.csv     labels_move_p_01.csv
24     features_none_p_01_120.csv          labels_none.csv
25     features_none_p_02_120.csv          labels_none.csv
26     features_none_p_03_120.csv          labels_none.csv
27    features_right_c_01_120.csv    labels_right_c_01.csv
28    features_right_c_02_120.csv    labels_right_c_02.csv
29    features_right_l_01_120.csv    labels_right_l_01.csv
30    features_right_l_02_120.csv    labels_right_l_02.csv
31    features_right_l_03_120.csv    labels_right_l_03.csv
32  features_takeoff_c_01_120.csv  labels_takeoff_c_01.csv
33  features_takeoff_c_02_120.csv  labels_takeoff_c_02.csv
34  features_takeoff_c_03_120.csv  labels_takeoff_c_03.csv
35  features_takeoff_l_01_120.csv  labels_takeoff_l_01.csv
36  features_takeoff_l_02_120.csv  labels_takeoff_l_02.csv
37  features_takeoff_l_03_120.csv  labels_takeoff_l_03.csv

In [6]:
de.display_information()

i: 0 	shape X: (603, 18, 16) 	shape y: (603,) 	count: 101
i: 1 	shape X: (519, 18, 16) 	shape y: (519,) 	count: 89
i: 2 	shape X: (498, 18, 16) 	shape y: (498,) 	count: 119
i: 3 	shape X: (650, 18, 16) 	shape y: (650,) 	count: 230
i: 4 	shape X: (508, 18, 16) 	shape y: (508,) 	count: 147
i: 5 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 146
i: 6 	shape X: (601, 18, 16) 	shape y: (601,) 	count: 159
i: 7 	shape X: (440, 18, 16) 	shape y: (440,) 	count: 127
i: 8 	shape X: (490, 18, 16) 	shape y: (490,) 	count: 110
i: 9 	shape X: (476, 18, 16) 	shape y: (476,) 	count: 118
i: 10 	shape X: (492, 18, 16) 	shape y: (492,) 	count: 121
i: 11 	shape X: (436, 18, 16) 	shape y: (436,) 	count: 87
i: 12 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 126
i: 13 	shape X: (551, 18, 16) 	shape y: (551,) 	count: 127
i: 14 	shape X: (550, 18, 16) 	shape y: (550,) 	count: 114
i: 15 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 115
i: 16 	shape X: (541, 18, 16) 	shape y: (541,) 	count: 92
i: 17 	shape X: (535, 18, 16) 	shape y: (535,) 	count: 121
i: 18 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 108
i: 19 	shape X: (482, 18, 16) 	shape y: (482,) 	count: 205
i: 20 	shape X: (616, 18, 16) 	shape y: (616,) 	count: 136
i: 21 	shape X: (621, 18, 16) 	shape y: (621,) 	count: 269
i: 22 	shape X: (470, 18, 16) 	shape y: (470,) 	count: 187
i: 23 	shape X: (590, 18, 16) 	shape y: (590,) 	count: 171
i: 24 	shape X: (460, 18, 16) 	shape y: (460,) 	count: 0
i: 25 	shape X: (400, 18, 16) 	shape y: (400,) 	count: 0
i: 26 	shape X: (419, 18, 16) 	shape y: (419,) 	count: 0
i: 27 	shape X: (514, 18, 16) 	shape y: (514,) 	count: 120
i: 28 	shape X: (923, 18, 16) 	shape y: (923,) 	count: 214
i: 29 	shape X: (545, 18, 16) 	shape y: (545,) 	count: 91
i: 30 	shape X: (547, 18, 16) 	shape y: (547,) 	count: 124
i: 31 	shape X: (505, 18, 16) 	shape y: (505,) 	count: 111
i: 32 	shape X: (469, 18, 16) 	shape y: (469,) 	count: 121
i: 33 	shape X: (524, 18, 16) 	shape y: (524,) 	count: 129
i: 34 	shape X: (569, 18, 16) 	shape y: (569,) 	count: 157
i: 35 	shape X: (488, 18, 16) 	shape y: (488,) 	count: 89
i: 36 	shape X: (481, 18, 16) 	shape y: (481,) 	count: 106
i: 37 	shape X: (416, 18, 16) 	shape y: (416,) 	count: 99
-----------------------------------------------------------------------------
shape final X: (19959, 18, 16)
number of labeled samples: 4686
Label 0: 15273 	76.52% of total
Label 1: 701 	14.96% of labeled
Label 2: 763 	16.28% of labeled
Label 3: 991 	21.15% of labeled
Label 4: 882 	18.82% of labeled
Label 5: 660 	14.08% of labeled
Label 6: 689 	14.7% of labeled

## e) Data normalization

In [7]:
X = de.X.copy()
y = de.y.copy().astype("int32")
gt = GestureTransformer(byrow=True, feature_names= list(de.feature_names))
X = gt.transform(X, verbose = True)

---------------------------------------------------------
Performing row-based transformations:
X-Mean of Hip and Shoulders:
	Row-based Mean is taken over each sample and each timestep
	Shape: (19959, 18)
Y-Mean of Hip and Shoulders:
	Row-based Mean is taken over each sample and each timestep
	Shape: (19959, 18)
Scaling based on Hip-Shoulder distance:
	Row-based distance is calculated for each sample and each timestep
	Shape: (19959, 18)
-----------------------------------------------------
X-Shift:
            min   mean  median    max   std
timestep
0         196.8  294.4   282.6  511.9  37.5
1         196.8  294.4   282.6  511.9  37.5
2         196.8  294.3   282.5  511.9  37.6
3         196.8  294.3   282.4  511.9  37.6
4         196.8  294.2   282.4  511.9  37.6
5         196.8  294.2   282.3  511.9  37.6
6         196.8  294.2   282.3  511.9  37.6
7         196.8  294.1   282.2  511.9  37.6
8         196.8  294.1   282.2  511.9  37.6
9         196.8  294.1   282.2  511.9  37.6
10        196.8  294.1   282.1  511.9  37.6
11        196.8  294.0   282.1  511.9  37.6
12        196.8  294.0   282.0  511.9  37.6
13        124.5  294.0   282.0  511.9  37.6
14        124.5  294.0   282.0  511.9  37.6
15        124.5  293.9   282.0  511.9  37.6
16        124.5  293.9   281.9  511.9  37.7
17        124.5  293.9   281.9  511.9  37.7
-----------------------------------------------------
Y-Shift:
            min   mean  median    max   std
timestep
0         135.1  210.0   211.8  268.8  20.1
1         134.7  210.0   211.8  268.4  20.1
2         134.7  210.1   211.8  266.4  20.1
3         134.7  210.1   211.9  265.0  20.1
4         134.7  210.1   211.9  265.0  20.1
5         134.7  210.1   211.9  265.0  20.1
6         134.7  210.1   211.9  265.0  20.1
7         134.7  210.1   211.9  466.0  20.2
8         134.7  210.1   211.9  466.0  20.3
9         134.7  210.1   211.9  472.2  20.3
10        134.7  210.2   211.9  472.2  20.4
11        134.7  210.2   211.9  472.2  20.5
12        134.7  210.2   212.0  472.2  20.6
13        134.7  210.2   212.0  472.2  20.7
14        134.7  210.2   212.0  472.2  20.8
15        134.7  210.3   212.0  472.2  20.8
16        134.7  210.3   212.0  472.2  20.9
17        134.7  210.3   211.9  474.7  21.0
-----------------------------------------------------
Scaling-Diff:
            min   mean  median   max  std
timestep
0        -133.1 -104.2  -105.6 -73.0  9.2
1        -133.1 -104.2  -105.6 -73.0  9.2
2        -133.1 -104.2  -105.6 -73.0  9.2
3        -133.1 -104.2  -105.6 -73.0  9.2
4        -133.1 -104.2  -105.6 -73.0  9.2
5        -133.1 -104.2  -105.6 -73.0  9.2
6        -133.1 -104.2  -105.6 -73.0  9.2
7        -133.1 -104.2  -105.6 -53.5  9.2
8        -133.1 -104.2  -105.6 -32.6  9.2
9        -133.1 -104.2  -105.6 -32.6  9.2
10       -133.1 -104.2  -105.6 -32.6  9.3
11       -133.1 -104.2  -105.6 -32.6  9.3
12       -133.1 -104.2  -105.6 -32.6  9.3
13       -133.1 -104.2  -105.6 -23.5  9.3
14       -133.1 -104.2  -105.6 -23.5  9.3
15       -133.1 -104.1  -105.6 -23.5  9.3
16       -133.1 -104.1  -105.6 -23.5  9.3
17       -133.1 -104.1  -105.6 -23.5  9.3

# 2) Model Training

## a) Filtering 0-Labels

In [8]:
from app_local.module import DataResampler
dr_var = DataResampler()
dr_var.fit(X,y)
dr_var.restrict_zero_labels(6000, criterion="variance_lowest")
dr_var.display_information()

-------------------------------------
Current number of zero-labels: 15273
New number of zero-labels (selected with criterion="variance_lowest"): 6000

  abs_orig pct_orig abs_current pct_current
0    15273    76.52        6000       56.15
1      701     3.51         701        6.56
2      763     3.82         763        7.14
3      991     4.97         991        9.27
4      882     4.42         882        8.25
5      660     3.31         660        6.18
6      689     3.45         689        6.45

In [9]:
dr = DataResampler()
dr.fit(X,y)
dr.restrict_zero_labels(6000)
dr.display_information()

-------------------------------------
Current number of zero-labels: 15273
New number of zero-labels: 6000

  abs_orig pct_orig abs_current pct_current
0    15273    76.52        6000       56.15
1      701     3.51         701        6.56
2      763     3.82         763        7.14
3      991     4.97         991        9.27
4      882     4.42         882        8.25
5      660     3.31         660        6.18
6      689     3.45         689        6.45

In [10]:
print(dr.X.shape)
X_full_zero = np.concatenate( [dr.X, dr_var.X[(dr_var.y == 0),:,:]] )
y_full_zero = np.concatenate( [dr.y, dr_var.y[dr_var.y == 0]])
print(X_full_zero.shape, y_full_zero.shape)

(10686, 18, 16)
(16686, 18, 16) (16686,)

In [11]:
dr_up = DataResampler()
dr_up.fit(X_full_zero, y_full_zero)
dr_up.display_information()

  abs_orig pct_orig abs_current pct_current
0    12000    71.92       12000       71.92
1      701      4.2         701         4.2
2      763     4.57         763        4.57
3      991     5.94         991        5.94
4      882     5.29         882        5.29
5      660     3.96         660        3.96
6      689     4.13         689        4.13

In [12]:
dr_up.upsample(n = 10000, exceptions=[0])

X_final = dr_up.X
y_final = dr_up.y
dr_up.display_information()

  abs_orig pct_orig abs_current pct_current
0    12000    71.92       12000       16.67
1      701      4.2       10000       13.89
2      763     4.57       10000       13.89
3      991     5.94       10000       13.89
4      882     5.29       10000       13.89
5      660     3.96       10000       13.89
6      689     4.13       10000       13.89

## c) Train-Test-Split

## d) Model Training

In [13]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

### Train a simple SV-Classifier

In [14]:
x_final = X_final.reshape(X_final.shape[0],-1)

model = SVC(
    random_state = 42,
    gamma = "auto"
)

#model.fit(x_final, y_final)

In [ ]:
preds = model.predict(x_final)
(preds == y_final).sum()/len(y_final)

### Gridsearch with Crossvalidation

In [15]:
model.get_params().keys()

dict_keys(['C', 'cache_size', 'class_weight', 'coef0', 'decision_function_shape', 'degree', 'gamma', 'kernel', 'max_iter', 'probability', 'random_state', 'shrinking', 'tol', 'verbose'])

In [16]:
# Create the random grid vor SVM

random_grid = {
                'C': [10, 1.0, 0.1],
                'gamma': ["auto"],
                'kernel': ["rbf"]
              }

print(random_grid)

{'C': [10, 1.0, 0.1], 'gamma': ['auto'], 'kernel': ['rbf']}

In [19]:
import sklearn
sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'brier_score_loss',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'mutual_info_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'v_measure_score']

In [20]:
params = random_grid
scoring = "accuracy"
clf = GridSearchCV(model, params, n_jobs = -1, verbose = 2, scoring = scoring)
clf.fit(x_final, y_final)

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   4 out of   9 | elapsed:  7.4min remaining:  9.2min
[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed: 15.7min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed: 15.7min finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=42, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'C': [10, 1.0, 0.1], 'gamma': ['auto'], 'kernel': ['rbf']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=2)

In [21]:
clf.cv_results_.keys()

dict_keys(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time', 'param_C', 'param_gamma', 'param_kernel', 'params', 'split0_test_score', 'split1_test_score', 'split2_test_score', 'mean_test_score', 'std_test_score', 'rank_test_score', 'split0_train_score', 'split1_train_score', 'split2_train_score', 'mean_train_score', 'std_train_score'])

In [22]:
print("Index: {0}".format(clf.best_index_))
print("Score: {0}".format(clf.best_score_))
print("Params: {0}".format(clf.best_params_))

Index: 1
Score: 0.9335416666666667
Params: {'C': 1.0, 'gamma': 'auto', 'kernel': 'rbf'}

In [23]:
clf.best_estimator_.verbose = 0

In [24]:
from sklearn.externals import joblib
joblib.dump(clf.best_estimator_,'models/model_gesture_svm_nip120_[12000,10000]_001.pkl')

['models/model_gesture_svm_nip120_[12000,10000]_001.pkl']

In [ ]:
from sklearn.externals import joblib
import os
cwd = os.getcwd()

counter = 0
print(counter, cwd)
while not cwd.endswith("drone_steering") and counter < 10:
    os.chdir('..')
    cwd = os.getcwd()
    counter = counter + 1
    print(counter, cwd)

loaded_model = joblib.load('models/model_gesture_svm_nip120_[12000,10000]_001.pkl')
print(type(loaded_model))

In [ ]:
x12907 = joblib.load('models/x12907.pkl')
x12907

In [ ]:
loaded_model.predict(x12907)[0]

In [ ]:
i = 0
pred = [-1]
while pred[0] != 1:
    pred = loaded_model.predict(X[i,:,:].reshape(1,-1))
    print(i, pred)
    i += 1