# 1) Data Prep

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
cwd = os.getcwd()

counter = 0
print(counter, cwd)
while not cwd.endswith("drone_steering") and counter < 10:
    os.chdir('..')
    cwd = os.getcwd()
    counter = counter + 1
    print(counter, cwd)

0 C:\Users\p.schambach\Desktop\DSR\drone_steering\models
1 C:\Users\p.schambach\Desktop\DSR\drone_steering

## a) Data loading

In [3]:
from app_local.module import DataEnsembler, GestureTransformer

de = DataEnsembler(120)
de.investigate_available_datafiles(data_dir='data/gesture/',is_frame_based=True)
de.load_data()

## d) Generate training data

In [4]:
de.assemble_data(tolerance_range=2)

In [26]:
de.combined_data_files_df

                filename_features          filename_labels
0      features_flip_c_01_120.csv     labels_flip_c_01.csv
1      features_flip_c_02_120.csv     labels_flip_c_02.csv
2      features_flip_c_03_120.csv     labels_flip_c_03.csv
3      features_flip_l_01_120.csv     labels_flip_l_01.csv
4      features_flip_l_02_120.csv     labels_flip_l_02.csv
5      features_flip_l_03_120.csv     labels_flip_l_03.csv
6      features_flip_p_01_120.csv     labels_flip_p_01.csv
7      features_land_c_01_120.csv     labels_land_c_01.csv
8      features_land_c_02_120.csv     labels_land_c_02.csv
9      features_land_c_03_120.csv     labels_land_c_03.csv
10     features_land_l_01_120.csv     labels_land_l_01.csv
11     features_land_l_02_120.csv     labels_land_l_02.csv
12     features_land_l_03_120.csv     labels_land_l_03.csv
13     features_left_c_01_120.csv     labels_left_c_01.csv
14     features_left_c_02_120.csv     labels_left_c_02.csv
15     features_left_c_03_120.csv     labels_left_c_03.csv
16     features_left_l_01_120.csv     labels_left_l_01.csv
17     features_left_l_02_120.csv     labels_left_l_02.csv
18     features_left_l_03_120.csv     labels_left_l_03.csv
19     features_left_l_04_120.csv     labels_left_l_04.csv
20     features_move_c_01_120.csv     labels_move_c_01.csv
21     features_move_l_01_120.csv     labels_move_l_01.csv
22     features_move_l_02_120.csv     labels_move_l_02.csv
23     features_move_p_01_120.csv     labels_move_p_01.csv
24     features_none_p_01_120.csv          labels_none.csv
25     features_none_p_03_120.csv          labels_none.csv
26    features_right_c_01_120.csv    labels_right_c_01.csv
27    features_right_c_02_120.csv    labels_right_c_02.csv
28    features_right_l_01_120.csv    labels_right_l_01.csv
29    features_right_l_02_120.csv    labels_right_l_02.csv
30    features_right_l_03_120.csv    labels_right_l_03.csv
31  features_takeoff_c_01_120.csv  labels_takeoff_c_01.csv
32  features_takeoff_c_02_120.csv  labels_takeoff_c_02.csv
33  features_takeoff_c_03_120.csv  labels_takeoff_c_03.csv
34  features_takeoff_l_01_120.csv  labels_takeoff_l_01.csv
35  features_takeoff_l_02_120.csv  labels_takeoff_l_02.csv
36  features_takeoff_l_03_120.csv  labels_takeoff_l_03.csv

In [5]:
de.display_information()

i: 0 	shape X: (603, 18, 16) 	shape y: (603,) 	count: 101
i: 1 	shape X: (519, 18, 16) 	shape y: (519,) 	count: 89
i: 2 	shape X: (498, 18, 16) 	shape y: (498,) 	count: 119
i: 3 	shape X: (650, 18, 16) 	shape y: (650,) 	count: 230
i: 4 	shape X: (508, 18, 16) 	shape y: (508,) 	count: 147
i: 5 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 146
i: 6 	shape X: (601, 18, 16) 	shape y: (601,) 	count: 159
i: 7 	shape X: (440, 18, 16) 	shape y: (440,) 	count: 127
i: 8 	shape X: (490, 18, 16) 	shape y: (490,) 	count: 110
i: 9 	shape X: (476, 18, 16) 	shape y: (476,) 	count: 118
i: 10 	shape X: (492, 18, 16) 	shape y: (492,) 	count: 121
i: 11 	shape X: (436, 18, 16) 	shape y: (436,) 	count: 87
i: 12 	shape X: (466, 18, 16) 	shape y: (466,) 	count: 126
i: 13 	shape X: (551, 18, 16) 	shape y: (551,) 	count: 127
i: 14 	shape X: (550, 18, 16) 	shape y: (550,) 	count: 114
i: 15 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 115
i: 16 	shape X: (541, 18, 16) 	shape y: (541,) 	count: 92
i: 17 	shape X: (535, 18, 16) 	shape y: (535,) 	count: 121
i: 18 	shape X: (549, 18, 16) 	shape y: (549,) 	count: 108
i: 19 	shape X: (482, 18, 16) 	shape y: (482,) 	count: 205
i: 20 	shape X: (616, 18, 16) 	shape y: (616,) 	count: 136
i: 21 	shape X: (621, 18, 16) 	shape y: (621,) 	count: 269
i: 22 	shape X: (470, 18, 16) 	shape y: (470,) 	count: 187
i: 23 	shape X: (590, 18, 16) 	shape y: (590,) 	count: 171
i: 24 	shape X: (460, 18, 16) 	shape y: (460,) 	count: 0
i: 25 	shape X: (419, 18, 16) 	shape y: (419,) 	count: 0
i: 26 	shape X: (514, 18, 16) 	shape y: (514,) 	count: 120
i: 27 	shape X: (923, 18, 16) 	shape y: (923,) 	count: 214
i: 28 	shape X: (545, 18, 16) 	shape y: (545,) 	count: 91
i: 29 	shape X: (547, 18, 16) 	shape y: (547,) 	count: 124
i: 30 	shape X: (505, 18, 16) 	shape y: (505,) 	count: 111
i: 31 	shape X: (469, 18, 16) 	shape y: (469,) 	count: 121
i: 32 	shape X: (524, 18, 16) 	shape y: (524,) 	count: 129
i: 33 	shape X: (569, 18, 16) 	shape y: (569,) 	count: 157
i: 34 	shape X: (488, 18, 16) 	shape y: (488,) 	count: 89
i: 35 	shape X: (481, 18, 16) 	shape y: (481,) 	count: 106
i: 36 	shape X: (416, 18, 16) 	shape y: (416,) 	count: 99
-----------------------------------------------------------------------------
shape final X: (19559, 18, 16)
number of labeled samples: 4686
Label 0: 14873 	76.04% of total
Label 1: 701 	14.96% of labeled
Label 2: 763 	16.28% of labeled
Label 3: 991 	21.15% of labeled
Label 4: 882 	18.82% of labeled
Label 5: 660 	14.08% of labeled
Label 6: 689 	14.7% of labeled

## e) Data normalization

In [6]:
X = de.X.copy()
y = de.y.copy().astype("int32")
gt = GestureTransformer(byrow=True, feature_names= list(de.feature_names))
X = gt.transform(X, verbose = True)

---------------------------------------------------------
Performing row-based transformations:
X-Mean of Hip and Shoulders:
	Row-based Mean is taken over each sample and each timestep
	Shape: (19559, 18)
Y-Mean of Hip and Shoulders:
	Row-based Mean is taken over each sample and each timestep
	Shape: (19559, 18)
Scaling based on Hip-Shoulder distance:
	Row-based distance is calculated for each sample and each timestep
	Shape: (19559, 18)
-----------------------------------------------------
X-Shift:
            min   mean  median    max   std
timestep
0         196.8  295.0   282.9  511.9  37.6
1         196.8  294.9   282.8  511.9  37.6
2         196.8  294.9   282.7  511.9  37.6
3         196.8  294.9   282.7  511.9  37.6
4         196.8  294.8   282.6  511.9  37.6
5         196.8  294.8   282.6  511.9  37.6
6         196.8  294.7   282.5  511.9  37.6
7         196.8  294.7   282.5  511.9  37.6
8         196.8  294.7   282.4  511.9  37.6
9         196.8  294.6   282.4  511.9  37.6
10        196.8  294.6   282.4  511.9  37.7
11        196.8  294.6   282.4  511.9  37.7
12        196.8  294.6   282.3  511.9  37.7
13        124.5  294.5   282.3  511.9  37.7
14        124.5  294.5   282.2  511.9  37.7
15        124.5  294.5   282.2  511.9  37.7
16        124.5  294.5   282.2  511.9  37.7
17        124.5  294.5   282.2  511.9  37.7
-----------------------------------------------------
Y-Shift:
            min   mean  median    max   std
timestep
0         135.1  210.6   212.2  268.8  19.8
1         134.7  210.6   212.2  268.4  19.8
2         134.7  210.7   212.2  266.4  19.8
3         134.7  210.7   212.2  265.0  19.8
4         134.7  210.7   212.2  265.0  19.8
5         134.7  210.7   212.2  265.0  19.8
6         134.7  210.7   212.3  265.0  19.8
7         134.7  210.7   212.3  466.0  19.8
8         134.7  210.7   212.3  466.0  19.9
9         134.7  210.8   212.3  472.2  20.0
10        134.7  210.8   212.3  472.2  20.1
11        134.7  210.8   212.3  472.2  20.2
12        134.7  210.8   212.3  472.2  20.3
13        134.7  210.8   212.3  472.2  20.3
14        134.7  210.9   212.3  472.2  20.4
15        134.7  210.9   212.3  472.2  20.5
16        134.7  210.9   212.3  472.2  20.6
17        134.7  210.9   212.3  474.7  20.7
-----------------------------------------------------
Scaling-Diff:
            min   mean  median   max  std
timestep
0        -133.1 -104.1  -105.5 -73.0  9.3
1        -133.1 -104.1  -105.5 -73.0  9.3
2        -133.1 -104.1  -105.5 -73.0  9.3
3        -133.1 -104.1  -105.5 -73.0  9.3
4        -133.1 -104.1  -105.5 -73.0  9.3
5        -133.1 -104.1  -105.5 -73.0  9.3
6        -133.1 -104.1  -105.5 -73.0  9.3
7        -133.1 -104.1  -105.5 -53.5  9.3
8        -133.1 -104.1  -105.5 -32.6  9.3
9        -133.1 -104.1  -105.5 -32.6  9.3
10       -133.1 -104.1  -105.5 -32.6  9.3
11       -133.1 -104.1  -105.5 -32.6  9.3
12       -133.1 -104.1  -105.5 -32.6  9.3
13       -133.1 -104.1  -105.5 -23.5  9.3
14       -133.1 -104.1  -105.5 -23.5  9.4
15       -133.1 -104.1  -105.5 -23.5  9.4
16       -133.1 -104.1  -105.5 -23.5  9.4
17       -133.1 -104.0  -105.5 -23.5  9.4

# 2) Model Training

## a) Filtering 0-Labels

In [7]:
from app_local.module import DataResampler
dr_var = DataResampler()
dr_var.fit(X,y)
dr_var.restrict_zero_labels(500, criterion="variance_lowest")
dr_var.display_information()

-------------------------------------
Current number of zero-labels: 14873
New number of zero-labels (selected with criterion="variance_lowest"): 500

  abs_orig pct_orig abs_current pct_current
0    14873    76.04         500        9.64
1      701     3.58         701       13.52
2      763      3.9         763       14.71
3      991     5.07         991       19.11
4      882     4.51         882       17.01
5      660     3.37         660       12.73
6      689     3.52         689       13.29

In [8]:
dr = DataResampler()
dr.fit(X,y)
dr.restrict_zero_labels(500)
dr.display_information()

-------------------------------------
Current number of zero-labels: 14873
New number of zero-labels: 500

  abs_orig pct_orig abs_current pct_current
0    14873    76.04         500        9.64
1      701     3.58         701       13.52
2      763      3.9         763       14.71
3      991     5.07         991       19.11
4      882     4.51         882       17.01
5      660     3.37         660       12.73
6      689     3.52         689       13.29

In [9]:
print(dr.X.shape)
X_full_zero = np.concatenate( [dr.X, dr_var.X[(dr_var.y == 0),:,:]] )
y_full_zero = np.concatenate( [dr.y, dr_var.y[dr_var.y == 0]])
print(X_full_zero.shape, y_full_zero.shape)

(5186, 18, 16)
(5686, 18, 16) (5686,)

In [11]:
dr_up = DataResampler()
dr_up.fit(X_full_zero, y_full_zero)
dr_up.display_information()

  abs_orig pct_orig abs_current pct_current
0     1000    17.59        1000       17.59
1      701    12.33         701       12.33
2      763    13.42         763       13.42
3      991    17.43         991       17.43
4      882    15.51         882       15.51
5      660    11.61         660       11.61
6      689    12.12         689       12.12

In [12]:
dr_up.upsample(n = 800, exceptions=[0,3])
dr_up.display_information()
X_final = dr_up.X
y_final = dr_up.y

## b) OneHot-Encoding of target vector

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
ohe = OneHotEncoder(sparse = False)
print(type(ohe))
target = ohe.fit_transform(y_final.reshape(-1,1))
print("Before:", y_final.shape)
print("After:", target.shape)
target[0:5,:]

<class 'sklearn.preprocessing._encoders.OneHotEncoder'>
Before: (5991,)
After: (5991, 7)

array([[0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.]])

## c) Train-Test-Split

## d) Model Training

In [19]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

### Train a simple SV-Classifier

In [22]:
x_final = X_final.reshape(X_final.shape[0],-1)

model = SVC(
    random_state = 42,
    gamma = "auto"
)

model.fit(x_final, y_final)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=42, shrinking=True,
  tol=0.001, verbose=False)

In [23]:
preds = model.predict(x_final)
(preds == y_final).sum()/len(y_final)

0.9410782840928059

### Gridsearch with Crossvalidation

In [27]:
model.get_params().keys()

dict_keys(['C', 'cache_size', 'class_weight', 'coef0', 'decision_function_shape', 'degree', 'gamma', 'kernel', 'max_iter', 'probability', 'random_state', 'shrinking', 'tol', 'verbose'])

In [20]:
# Create the random grid vor SVM

random_grid = {
                'C': [100,10,5.0,2.0,1.0, 0.5, 0.1, 0.5, 0.01],
                'gamma': ["auto", 0.001, 0.0001],
                'kernel': ["rbf","poly"]
              }

print(random_grid)

{'C': [100, 10, 5.0, 2.0, 1.0, 0.5, 0.1, 0.5, 0.01], 'gamma': ['auto', 0.001, 0.0001], 'kernel': ['rbf', 'poly']}

In [25]:
params = random_grid
scoring = "accuracy"
clf = GridSearchCV(model, params, n_jobs = -1, verbose = 2, scoring = scoring)
clf.fit(x_final, y_final)

Fitting 3 folds for each of 54 candidates, totalling 162 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    5.7s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:   20.8s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   38.5s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   56.2s
[Parallel(n_jobs=-1)]: Done  45 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  69 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  82 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done  97 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 129 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 162 out of 162 | elapsed:  7.7min finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=42, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'C': [100, 10, 5.0, 2.0, 1.0, 0.5, 0.1, 0.5, 0.01], 'gamma': ['auto', 0.001, 0.0001], 'kernel': ['rbf', 'poly']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=10)

In [28]:
clf.cv_results_.keys()

dict_keys(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time', 'param_C', 'param_gamma', 'param_kernel', 'params', 'split0_test_score', 'split1_test_score', 'split2_test_score', 'mean_test_score', 'std_test_score', 'rank_test_score', 'split0_train_score', 'split1_train_score', 'split2_train_score', 'mean_train_score', 'std_train_score'])

In [81]:
print("Index: {0}".format(clf.best_index_))
print("Score: {0}".format(clf.best_score_))
print("Params: {0}".format(clf.best_params_))

Index: 2
Score: 0.9355700216992154
Params: {'C': 100, 'gamma': 0.001, 'kernel': 'rbf'}

In [83]:
from sklearn.externals import joblib
joblib.dump(clf.best_estimator_,'models/model_gesture_svm_nip120_[1000,800]_002.pkl')

['models/model_gesture_svm_nip120_[1000,800]_002.pkl']

In [ ]:
from sklearn.externals import joblib
import os
cwd = os.getcwd()

counter = 0
print(counter, cwd)
while not cwd.endswith("drone_steering") and counter < 10:
    os.chdir('..')
    cwd = os.getcwd()
    counter = counter + 1
    print(counter, cwd)

loaded_model = joblib.load('models/model_gesture_svm_nip120_[1000,800]_001.pkl')
print(type(loaded_model))